<section class="sec-contact">
	<div class="inner">
		<div class="contact-heading c-ft--jp">
			<h2 class="contact-heading__ttl c-ft--en">CONTACT</h2>
			<p>
				法律相談のご予約やお問い合わせは、<br>
				メールまたはお電話にて承ります。
			</p>
		</div>
	</div>
	<div class="contact-ct">
		<h3 class="c-ttl__03 mb0">
			<span>本店</span>
		</h3>
		<a href="tel:0427046577" class="contact-ct__tel">
			<span class="contact-ct__tel-ttl c-fc--red c-ft--jp">TEL</span>
			<span class="contact-ct__tel-number c-fc--red c-ft--jp">042-704-6577</span>
			<small>（営業時間：平日9:30〜17:45）</small>
		</a>
		<h3 class="c-ttl__03 mb0">
			<span>横浜オフィス</span>
		</h3>
		<a href="tel:0452636100" class="contact-ct__tel">
			<span class="contact-ct__tel-ttl c-fc--red c-ft--jp">TEL</span>
			<span class="contact-ct__tel-number c-fc--red c-ft--jp">045-263-6100</span>
			<small>（営業時間：平日9:30〜17:00）</small>
		</a>
		<a href="" class="c-btn__01">
			<span>
				メールでのお問い合わせはこちら
				<small>（法律相談のご予約）</small>
			</span>
		</a>
		<div class="c-al--r">
			<a href="" class="view-more">
				よくあるご質問
			</a>
		</div>
	</div>
</section>

<footer id="footer">
	<div class="inner">
		<div class="footer-block">
			<div class="footer-block__note c-txt__basic-small c-ft--jp">
				<div class="footer-block__note-item">
					<a href="" class="footer-block__note-logo">
						<img src="<%= RELATIVE_PATH %>img/common/footer-logo-01.svg" alt="img">
					</a>
					<p>
						〒252-0231<br>
						神奈川県相模原市中央区相模原2丁目1-5 サトウビル5階<br>
						<a href="tel:042-704-6577">TEL ：042-704-6577</a>　　FAX ：042-704-6578
					</p>
				</div>
				<div class="footer-block__note-item">
					<a href="" class="footer-block__note-logo">
						<img src="<%= RELATIVE_PATH %>img/common/footer-logo-02.svg" alt="img">
					</a>
					<p>
						〒231-0023<br>
						神奈川県横浜市中区山下町1 シルクセンタービル904<br>
						<a href="tel:0452636100">TEL ：045-263-6100</a>　　FAX ：045-263-6167
					</p>
				</div>
			</div>
			<div class="footer-block__nav">
				<ul class="footer-block__menu">
					<li class="footer-block__menu-item">
						<a href="">事務所案内</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">アクセス</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">弁護士紹介</a>
						<ul class="footer-block__submenu">
							<li><a href="">藤田　寛之</a></li>
							<li><a href="">宇田川　隼</a></li>
							<li><a href="">瀬野　陽仁</a></li>
							<li><a href="">末広　多親子</a></li>
							<li><a href="">谷　樹人</a></li>
							<li><a href="">長南　悠</a></li>
							<li><a href="">古林　能敬</a></li>
							<li><a href="">𦚰澤　奏江</a></li>
						</ul>
					</li>
					<li class="footer-block__menu-item">
						<a href="">弁護士コラム</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">SDGsの推進</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">お客様の声</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">おもてなし規格認証</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">10周年を迎えるに際してご挨拶</a>
					</li>
				</ul>
				<ul class="footer-block__menu">
					<li class="footer-block__menu-item">
						<a href="">取扱業務</a>
						<ul class="footer-block__submenu">
							<li><a href="">顧問弁護士</a></li>
							<li><a href="">債権回収</a></li>
							<li><a href="">M＆A・事業承継</a></li>
							<li><a href="">未払残業代請求(会社側)</a></li>
							<li><a href="">解雇事件(会社側)</a></li>
							<li><a href="">契約書チェック</a></li>
							<li><a href="">法人破産・民事再生</a></li>
							<li><a href="">遺産・相続</a></li>
							<li><a href="">建物明渡し事件</a></li>
							<li><a href="">交通事故</a></li>
							<li><a href="">離婚相談</a></li>
							<li><a href="">借金問題</a></li>
							<li><a href="">高齢者サポート</a></li>
						</ul>
					</li>
					<li class="footer-block__menu-item">
						<a href="">解決事例</a>
					</li>
				</ul>
				<ul class="footer-block__menu">
					<li class="footer-block__menu-item">
						<a href="">弁護士費用</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">法律相談</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">よくあるご質問</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">お知らせ一覧</a>
					</li>
					<li class="footer-block__menu-item">
						<a href="">採用情報</a>
						<ul class="footer-block__submenu">
							<li><a href="">先輩弁護士の声</a></li>
							<li><a href="">採用エントリー</a></li>
							<li><a href="">お問い合わせ</a></li>
						</ul>
					</li>
					<li class="footer-block__menu-item">
						<a href="">プライバシーポリシー</a>
					</li>
				</ul>
			</div>
		</div>
		<ul class="footer-sns">
			<li>
				<a href="https://s-souzoku.com/" target="_blank" class="c-bg--red">
					<img src="<%= RELATIVE_PATH %>img/common/icon-logo.svg" alt="img" width="28">
					<span>
						<span>法律事務所S</span>
						<span>遺産・相続専門サイト</span>
					</span>
				</a>
			</li>
			<li>
				<a href="https://www.facebook.com/s.lawoffice.s/" class="c-bg--blue" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/icon-facebook.svg" alt="facebook" width="30">
					<span>
						法律事務所S
					</span>
				</a>
			</li>
		</ul>
		<span class="footer-ttl">
			関連サイト
		</span>
		<ul class="footer-banner">
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-01.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-01-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-02.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-02-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-03.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-03-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-04.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-04-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-05.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-05-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-06.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-06-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-07.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-07-sp.png" alt="img" class="sp-sm">
				</a>
			</li>
			<li class="footer-banner__item">
				<a href="" target="_blank">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-08.png" alt="img" class="pc-sm">
					<img src="<%= RELATIVE_PATH %>img/common/footer-banner-08-sp.png" alt="img" class="sp-sm">
				</a>
			</li>

		</ul>
		<div class="copyright">
			Copyright(c) 2010 Law Office S
		</div>
	</div>
</footer>