<header id="header">
	<a href="<%= RELATIVE_PATH %>" class="header-logo">
		<img src="<%= RELATIVE_PATH %>img/common/logo.svg" alt="img">
	</a>
	<nav class="header-nav">
		<div class="header-nav__note">
			<ul class="c-ft--jp pc-tb">
				<li><a href="">お知らせ</a></li>
				<li><a href="">よくある質問</a></li>
				<li><a href="">採用情報</a></li>
			</ul>
			<div class="header-nav__note-tel">
				<div class="header-nav__note-tel-item">
					<span>本　　店 </span>
					<a href="tel:0427046577" class="c-fc--red">042-704-6577</a>
					<span>（平日9:30-17:45）</span>
				</div>
				<div class="header-nav__note-tel-item">
					<span>横浜支店 </span>
					<a href="tel:0452636100" class="c-fc--red">045-263-6100</a>
					<span>（平日9:30-17:00）</span>
				</div>
			</div>
		</div>
		<ul class="header-nav__menu c-ft--jp">
			<li class="header-nav__menu-item">
				<a href="">事務所案内</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">弁護士紹介</a>
				<span class="header-nav__menu-sub"></span>
				<div class="header-nav__submenu">
					<ul class="header-nav__submenu-attorney">
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-01.png" alt="藤田 寛之">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									<small>シニアパートナー</small><br>
									藤田 寛之　<small>弁護士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-02.png" alt="宇田川 隼">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									<small>シニアパートナー</small><br>
									宇田川 隼　<small>弁護士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-03.png" alt="瀬野 陽仁">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									<small>パートナー</small><br>
									瀬野 陽仁　<small>弁護士/税理士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-04.png" alt="末広 多親子">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									<small>シニアアソシエイト</small><br>
									末広 多親子　<small>弁護士/中小企業診断士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-05.png" alt="谷 樹人">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									<small>シニアアソシエイト</small><br>
									谷 樹人　<small>弁護士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-06.png" alt="長南 悠">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									長南 悠　<small>弁護士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-07.png" alt="𦚰澤 奏江">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									𦚰澤 奏江　<small>弁護士</small>
								</div>
							</a>
						</li>
						<li>
							<a href="">
								<div class="header-nav__submenu-attorney-img">
									<img src="<%= RELATIVE_PATH %>img/common/menu-img-08.png" alt="古林 能敬">
								</div>
								<div class="header-nav__submenu-attorney-ct">
									<small>パートナー</small>
									古林 能敬　<small>弁護士</small>
								</div>
							</a>
						</li>
					</ul>
					<a href="" class="header-nav__submenu-btn">
						一覧を見る
					</a>
				</div>
			</li>
			<li class="header-nav__menu-item">
				<a href="">取扱業務</a>
				<span class="header-nav__menu-sub"></span>
				<div class="header-nav__submenu" >
					<div class="header-nav__submenu-item">
						<span class="header-nav__submenu-ttl">
							<span>法人のお客様</span>
						</span>
						<ul class="header-nav__submenu-feature">
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-01.png" alt="顧問弁護士">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>顧問弁護士</span>
										<small>契約書作成/法的助言/交渉支援</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-02.png" alt="債権回収">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>債権回収</span>
										<small>回収手法/未払い/法的対策</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-03.png" alt="M＆A・事業承継">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>M＆A・事業承継</span>
										<small>企業売買/事業譲渡/承継手順</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-04.png" alt="未払残業代請求(会社側)">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>未払残業代請求(会社側)</span>
										<small>残業代未払い/対応策/法的助言</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-05.png" alt="解雇事件(会社側)">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>解雇事件(会社側)</span>
										<small>解雇通知/法的対策/紛争解決</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-06.png" alt="契約書チェック">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>契約書チェック</span>
										<small>法的リスク回避/契約内容の公正化</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-07.png" alt="法人破産・民事再生">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>法人破産・民事再生</span>
										<small>破産手続/再建計画/債務整理</small>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<div class="header-nav__submenu-item">
						<span class="header-nav__submenu-ttl">
							<span>個人のお客様</span>
						</span>
						<ul class="header-nav__submenu-feature">
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-08.png" alt="遺産・相続">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>遺産・相続</span>
										<small>遺産分割/遺留分/遺産調査</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-09.png" alt="建物明渡し事件">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>建物明渡し事件</span>
										<small>立ち退き手続/賃貸契約/問題解決</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-10.png" alt="交通事故">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>交通事故</span>
										<small>損害賠償/事故対応/保険交渉</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-11.png" alt="離婚相談">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>離婚相談</span>
										<small>離婚手続/協議書/財産分与</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-12.png" alt="借金問題">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>借金問題</span>
										<small>借金整理/減額交渉/自己破産</small>
									</div>
								</a>
							</li>
							<li>
								<a href="">
									<div class="header-nav__submenu-feature-img">
										<img src="<%= RELATIVE_PATH %>img/common/item-13.png" alt="高齢者サポート">
									</div>
									<div class="header-nav__submenu-feature-ct">
										<span>高齢者サポート</span>
										<small>後見人選任/監督/手続き</small>
									</div>
								</a>
							</li>
						</ul>
					</div>
					<a href="" class="header-nav__submenu-btn">
						一覧を見る
					</a>
				</div>
			</li>
			<li class="header-nav__menu-item">
				<a href="">費用</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">法律相談</a>
			</li>
			<li class="header-nav__menu-item">
				<a href="">コラム</a>
			</li>
			<li class="header-nav__menu-item sp-tb">
				<a href=""><small>お知らせ</small></a>
			</li>
			<li class="header-nav__menu-item sp-tb">
				<a href=""><small>よくある質問</small></a>
			</li>
			<li class="header-nav__menu-item sp-tb">
				<a href=""><small>採用情報</small></a>
			</li>
		</ul>
		<a href="" class="header-nav__btn">
			<span>お問い合わせ</span>
			<small>（法律相談のご予約）</small>
		</a>
	</nav>
	<span class="js-mobile">
		<span></span>
	</span>
</header>