<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="sec-about">
		<%- include('common/_breadcrumb'); %>
		<div class="about-heading">
			<div class="about-heading__img">
				<img src="<%= RELATIVE_PATH %>img/about/about-img-01.jpg" alt="Hiroyuki Fujita">
			</div>
			<div class="about-heading__ct c-txt__basic-small">
				<h1 class="about-heading__ct-name c-ft--en c-fc--red">
					<span>Hiroyuki Fujita</span>
				</h1>
				<h2 class="about-heading__ct-note">
					<span>
						ご縁あった方の<br>
						Well-Beingに貢献します
					</span>
				</h2>
				<h3 class="about-heading__ct-ttl c-ft--jp">
					<small>シニアパートナー　弁護士</small>
					藤田 寛之
				</h3>
				<div class="about-heading__ct-small">
					<dl>
						<dt>出身地</dt>
						<dd>神奈川県相模原市</dd>
					</dl>
					<dl>
						<dt>趣味</dt>
						<dd>剣道（三段）　読書</dd>
					</dl>
					<dl>
						<dt>座右の銘</dt>
						<dd>前後際断</dd>
					</dl>
					<dl>
						<dt>好きな食べ物</dt>
						<dd>日本酒(特に生酒)、赤ワイン</dd>
					</dl>
				</div>
				<table>
					<tr>
						<th>経歴</th>
						<td>

							<dl>
								<dt>1990年</dt>
								<dd>相模原市立上鶴間中学校 卒業</dd>
							</dl>
							<dl>
								<dt>1993年</dt>
								<dd>神奈川県立麻溝台高校 卒業</dd>
							</dl>
							<dl>
								<dt>1998年</dt>
								<dd>早稲田大学法学部 卒業</dd>
							</dl>
							<dl>
								<dt>2005年</dt>
								<dd>司法試験合格</dd>
							</dl>
							<dl>
								<dt>2007年</dt>
								<dd>弁護士登録</dd>
							</dl>
							<dl>
								<dt>2009年</dt>
								<dd>相模原中央総合法律事務所 設立</dd>
							</dl>
							<dl>
								<dt>2020年</dt>
								<dd>法律事務所Sに名称変更</dd>
							</dl>
						</td>
					</tr>
					<tr>
						<th>所属団体</th>
						<td>
							神奈川県弁護士会相模原支部<br>
							相模原ロータリークラブ<br>
							相模原市PTA連絡協議会<br>
							さがみ夢大通り商店会<br>
							他、自治体及び弁護士会内の各種委員会及び会議体
						</td>
					</tr>
					<tr>
						<th>取扱分野</th>
						<td>
							顧問弁護士／M＆A・事業承継／債権回収／法人破産・民事再生／未払残業代請求（会社側）／解雇事件（会社側）／遺産・相続／建物明渡／交通事故／ 等
						</td>
					</tr>
				</table>
			</div>
		</div>
		<div class="inner">
			<div class="about-article c-txt__basic">
				<span class="about-article__head">
					<span class="c-ft--en c-fc--red">interview</span>
					<span class="c-ft--jp">インタビュー</span>
				</span>
				<h2>弁護士を志した原点は、両親の体験から</h2>
				<p>
					私の父は塗装職人でしたが、法律の知識がないことで悔しい思いをしてきました。終了した仕事の代金を踏み倒されてしまったり、無理な仕事を押し付けられて身体を壊して入院することになってしまったり、といった具合です。 私は親族が職人ばかりだったので弁護士になるという発想自体がありませんでしたが、たまたま法学部に入学した結果、弁護士という道があることに気付き、大学三年になって就職するかどうか考えた際、父の経験を聞いていた自分が法学部に入ったのも何かの縁だろうと思い、この縁を活かしてみようと考え、弁護士を目指しました。
				</p>
				<div class="about-article__img ">
					<div class="pull--right">
						<img src="<%= RELATIVE_PATH %>img/about/about-img-02.jpg" alt="Hiroyuki Fujita">
					</div>

				</div>
				<h2>背水の陣で臨んだ司法試験で合格</h2>
				<p>
					弁護士を目指すことを決意したのは大学三年も秋になってからだったので、遅いスタートでした。旧司法試験の時代であり、20代は受験勉強に費やしています。ちょうど司法試験制度の変革期で若年層優遇措置があり、自分より成績の低い後輩の合格を次々と見送る立場になり、辛い時期もありました。最後の年は落ちたら司法試験は諦めると決意して背水の陣を敷き、自分を追い込み、病院に運び込まれることもありましたが、30歳で合格することができました。
				</p>
				<h2>両親と同じような悩みを抱える中小企業の方々の助けになりたい</h2>
				<p>
					私の法律家としての原点は両親の経験で、今であれば、代金を踏み倒されそうになったら、弁護士として様々な法的手段を構じることができます。中小企業の方々には、このような未払い事例や契約書トラブルで悔しい思いをされることが多くいらっしゃいます。そんな中小企業の方々の力になりたいというのが私の思いです。 中小企業は社会の要です。中小企業に元気がなければ雇用も維持されず、地域社会の活気が失われます。持続可能な健全な企業活動であることを前提としたうえで、中小企業が活き活きと活動できるよう、商工会議所等の地域団体や税理士・社会保険労務士・税理士などの各種士業とも協働し、中小企業を支援しております。この業務を通じて社会に貢献することが、自分の使命です。
				</p>
				<div class="about-article__img ">
					<div class="pull--left">
						<img src="<%= RELATIVE_PATH %>img/about/about-img-03.jpg" alt="Hiroyuki Fujita">
					</div>
				</div>
				<h2>主な顧問先は建築・不動産・運送を中心とした中小企業や施設</h2>
				<p>
					企業を支援する業務として、法律顧問業務に積極的に携わっております。顧問先の業種としては、建設業・不動産業・運送業が多いです。また最近は高齢者・障がい者施設も増えてきました。その他には人材派遣業・製造業・解体業・飲食業などです。 顧問先様との関係では、契約書チェックや、取引先トラブル・労務トラブルなどの対応が多いですが、最近はM＆Aに関するご相談がかなり増えてきました。 顧問先様には、トラブルを「事前に防止する」ことで後顧の憂いなく事業活動に邁進して頂けるよう、心掛けています。
				</p>
				<h2>
					高齢化の暗い側面を見るのではなく、長寿化と捉え、<br class="pc">その恩恵を社会に届けてサポートしたい
				</h2>
				<p>
					今まで高齢者関係の事件に関わり、経済的虐待の事案などを現場で担当してきました。 これから日本は長寿・高齢化がどんどん進みます。報道などでは高齢化の負の側面が語られることが多いですが、人の寿命が長くなることが悪いニュースのわけがありません。 ただ、高齢になってからの財産管理の問題や相続の問題は確かにあります。そのような諸問題を弁護士としてサポートすることで、長寿命化を社会の恩恵に転換する一助となり、社会に安心を届けていたいです。
				</p>
				<div class="about-article__img">
					<div class="pull--right">
						<img src="<%= RELATIVE_PATH %>img/about/about-img-04.jpg" alt="Hiroyuki Fujita">
					</div>
				</div>
				<h2>
					Three Well-Beingを実現し、<br class="pc">永く社会に貢献する事務所を目指しています
				</h2>
				<p>
					おかげさまで、弊事務所は多方面からご信頼を頂き、その結果として成長を続けています。そして、様々なバックボーンの人材が集まり、事務所内で互いに影響し合い切磋琢磨できる環境になってきました。<br>
					 個人的には、これから多くの後進を育てていきたいと考えています。私の好きな言葉に「不易流行」があります。最近では世代間のずれも気になる年齢となりましたが、それを嘆くでもなく、他方で新しい価値観におもねるでもなく、自分が培った価値観のうち時代を経ても変わらないものを後進と共有しつつ、時代の変化に即応して変化自体を楽しみたいです。もちろん、まだまだ自分自身が未熟そのものであるため、自分の修行を続けていくことは大前提の話です。 私の夢は、事務所設立50周年パーティーに、既に現役を引退した来賓として呼ばれることです。その頃には80歳を超えていますが、それくらい永く社会に貢献する事務所としたいという思いを持っています。
				</p>
				<h2>
					座右の銘は「前後際断」、<br class="pc">地域活動や趣味にも全力で取り組み楽しんでいます
				</h2>
				<p>
					仕事以外の場面では、「地域の活性化なくして個人の活性化なし」という信念から、青年会議所、ロータリークラブ、商店会、PTA等の各地域団体で役員として活動しています。<br>
					 剣道好き（下手ですが）、歴史好きという側面がありますが、同時に先端技術や宇宙開発、脳科学などの分野も関心があります。 <br>
					小学校の頃、横浜大洋ホエールズ時代から、横浜DeNAベイスターズのファンです。 座右の銘は、竹刀袋にも刻んでいる「前後際断」。過ぎ去った過去やまだ来ぬ未来に心を囚われず、「今、ここ」をきちんと全力で生き切る、という意味であると解釈しています。弁護士として、そして地域の一員として、この言葉を胸に全力で取り組んでいきたいと思います。
				</p>
			</div>
			<div class="about-note">
				<div class="about-note__img">
					<img src="<%= RELATIVE_PATH %>img/about/about-img-05.jpg" alt="法律に関するお悩み、不安を抱えるみなさまへ">
				</div>
				<div class="about-note__ct c-txt__basic">
					<h3 class="about-note__ct-ttl c-ft--jp">
						<span>
							法律に関するお悩み、<br>
							不安を抱えるみなさまへ
						</span>
					</h3>
					<p>
						法律が関わる問題は、個人では解決が難しいケースが多く、特に企業の法務問題では、対応が遅れると深刻な事態を引き起こす可能性があります。問題解決への第一歩として、まずは信頼できる弁護士を見つけることが重要です。まずは、お気軽にご相談下さい。あなたの問題解決は、その一歩から始まります。
					</p>
				</div>
			</div>
		</div>
		<div class="about-information">
			<div class="inner">
				<h2 class="about-information__ttl c-ft--jp">
					<span>関連情報</span>
				</h2>
				<div class="about-information__ct">
					<div class="about-information__note c-txt__basic ">
						<h3 class="about-information__note-ttl c-fc--red">セミナー・講演</h3>
						<dl>
							<dt>2009年3月</dt>
							<dd>弁護士会・社労士会合同研修「労働審判について」</dd>
						</dl>
						<dl>
							<dt>2009年9月</dt>
							<dd>「交通事故の諸問題」（相模原市市民法律講座）</dd>
						</dl>
						<dl>
							<dt>2012年1月</dt>
							<dd>「今知っておきたい！暮らしに役立つ法律知識～相続・遺言」遺言編（相模原市あじさい大学公開講座）</dd>
						</dl>
						<dl>
							<dt>2012年11月</dt>
							<dd>多士業合同講演会「転ばぬ先の法律知恵袋　遺言・相続編」</dd>
						</dl>
						<dl>
							<dt>2013年8月</dt>
							<dd>「解雇を巡る法的手続の概要」（社会保険労務士会研修）</dd>
						</dl>
						<dl>
							<dt>2015年11月</dt>
							<dd>「民法の基礎」（相模原市市民後見人養成講座）</dd>
						</dl>
						<dl>
							<dt>2018年1月</dt>
							<dd>「今押さえておきたい民法改正」（行政書士会相模原支部）</dd>
						</dl>
						<dl>
							<dt>2018年10月</dt>
							<dd>「建物明渡について」（ダイワハウス相模原支店）</dd>
						</dl>
						<dl>
							<dt>2019年6月</dt>
							<dd>「改正民放セミナー」（社会保険労務士会研修）</dd>
						</dl>
					</div>
					<h3 class="c-ttl__03 c-fc--red">
						<span>関連コラム</span>
					</h3>
					<ul class="about-news">
						<li class="about-news__item">
							<a href="" class="about-news__box">
								<div class="about-news__img">
									<img src="<%= RELATIVE_PATH %>img/index/column-img-01.jpg" alt="物流業界における「2024年問題」について">
								</div>
								<div class="about-news__ct">
									<div class="about-news__ct-heading">
										<span class="about-news__ct-category">顧問弁護士</span>
										<time>2024.10.01</time>
									</div>
									<h3 class="about-news__ct-ttl c-ft--jp">物流業界における「2024年問題」について</h3>
									<p>
										いつも法律事務所Ｓのホームページをご覧いただきまして誠にありがとうございます。弁護士の瀬野陽仁（せのはるひと）でございます。 ...
									</p>
								</div>
							</a>
						</li>
						<li class="about-news__item">
							<a href="" class="about-news__box">
								<div class="about-news__img">
									<img src="<%= RELATIVE_PATH %>img/index/column-img-03.jpg" alt="物流業界における「2024年問題」について">
								</div>
								<div class="about-news__ct">
									<div class="about-news__ct-heading">
										<span class="about-news__ct-category">XXXXXXX</span>
										<time>2024.10.01</time>
									</div>
									<h3 class="about-news__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXX</h3>
									<p>
										XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...
									</p>
								</div>
							</a>
						</li>
						<li class="about-news__item">
							<a href="" class="about-news__box">
								<div class="about-news__img">
									<img src="<%= RELATIVE_PATH %>img/index/column-img-02.jpg" alt="物流業界における「2024年問題」について">
								</div>
								<div class="about-news__ct">
									<div class="about-news__ct-heading">
										<span class="about-news__ct-category">XXXXXXX</span>
										<time>2024.10.01</time>
									</div>
									<h3 class="about-news__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXX</h3>
									<p>
										XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...
									</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="" class="c-btn__01 mbpc-100 mbsp-70">
						<span>他の記事を見る</span>
					</a>
					<h3 class="c-ttl__03 c-fc--red">
						<span>関連事例</span>
					</h3>
					<ul class="about-news about-news--not-img">
						<li class="about-news__item">
							<a href="" class="about-news__box">
								<div class="about-news__ct">
									<div class="about-news__ct-heading">
										<span class="about-news__ct-category">M＆A ・ 事業承継</span>
									</div>
									<h3 class="about-news__ct-ttl c-ft--jp">物流業界における「2024年問題」について</h3>
									<p>
										いつも法律事務所Ｓのホームページをご覧いただきまして誠にありがとうございます。弁護士の瀬野陽仁（せのはるひと）でございます。 ...
									</p>
								</div>
							</a>
						</li>
						<li class="about-news__item">
							<a href="" class="about-news__box">
								<div class="about-news__ct">
									<div class="about-news__ct-heading">
										<span class="about-news__ct-category">M＆A ・ 事業承継</span>
									</div>
									<h3 class="about-news__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXX</h3>
									<p>
										XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...
									</p>
								</div>
							</a>
						</li>
						<li class="about-news__item">
							<a href="" class="about-news__box">
								<div class="about-news__ct">
									<div class="about-news__ct-heading">
										<span class="about-news__ct-category">M＆A ・ 事業承継</span>
									</div>
									<h3 class="about-news__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXX</h3>
									<p>
										XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...
									</p>
								</div>
							</a>
						</li>
					</ul>
					<a href="" class="c-btn__01">
						<span>一覧を見る</span>
					</a>
				</div>
			</div>
		</div>
	</section>

</main>