<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="mv-page">
		<%- include('common/_breadcrumb'); %>
		<div class="mv-page__wp">
			<div class="mv-page__ct">
				<h1 class="mv-page__ttl">
					<span class="c-ft--en">ACCESS</span>
					<span class="c-ft--jp">アクセス</span>
				</h1>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/access/img-mv.jpg" alt="ACCESS アクセス">
			</div>
		</div>
	</section>
	<div class="intro-page">
		<p>弊所は、JR横浜線「相模原」駅から徒歩3分の場所にあり、電車でのアクセスが非常に便利です。<br>相模原市を中心に、神奈川県全域や東京・八王子エリアからも多くの方にご訪問いただいております。また、横浜および川崎エリアからのアクセスが便利な横浜オフィスもございます。</p>
	</div>
	<section class="store-main">
		<div class="inner">
			<h2 class="c-ttl__05">本店のご案内</h2>
			<div class="store-main__top">
				<div class="store-main__top-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3849.143184008908!2d139.36775307622767!3d35.57982633553716!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018fd60cc93ba09%3A0xa0a26fc217deea56!2z5rOV5b6L5LqL5YuZ5omA77yz!5e1!3m2!1sja!2sjp!4v1734940918218!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="c-txt__basic-small store-main__top-ct">
					<p>
						<span>法律事務所S（本店）</span>
						〒252-0231　神奈川県相模原市中央区相模原2丁目1-5 サトウビル5階
					</p>
					<a href="https://maps.app.goo.gl/xUWTvch6mfAJaw4F8" target="_blank" class="c-btn__01 c-btn__01--solid">Google Mapで確認する</a>
				</div>
			</div>
			<div class="store-main__block">
				<h3 class="c-ttl__03"><span>公共交通機関でのアクセス</span></h3>
				<p class="c-txt__basic store-main__block-desc">
					弊所はJR横浜線 「相模原」駅より徒歩3分、電車でのアクセスが便利です。<br>相模原市を中心に神奈川全域よりご訪問いただいております。
				</p>
				<div class="store-main__block-schedule">
					<img src="<%= RELATIVE_PATH %>img/access/img-station.png" alt="公共交通機関でのアクセス">
				</div>
			</div>
			<div class="store-main__block">
				<h4 class="c-ttl__03">相模原駅からの経路案内</h4>
				<ul class="c-txt__basic-small store-main__block-list js-store-sp">
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-01.jpg" alt="①JR横浜線相模原駅の南口（改札を出て右）へお進みください。">
						</div>
						<p class="store-main__block-caption">①JR横浜線相模原駅の南口（改札を出て右）へお進みください。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-02.jpg" alt="②まっすぐお進みください。">
						</div>
						<p class="store-main__block-caption">②まっすぐお進みください。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-03.jpg" alt="③左へお進みください。">
						</div>
						<p class="store-main__block-caption">③左へお進みください。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-04.jpg" alt="④まっすぐお進みください。">
						</div>
						<p class="store-main__block-caption">④まっすぐお進みください。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-05.jpg" alt="⑤こちらを右にお進みください。">
						</div>
						<p class="store-main__block-caption">⑤こちらを右にお進みください。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-06.jpg" alt="⑥階段を下ります。">
						</div>
						<p class="store-main__block-caption">⑥階段を下ります。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-07.jpg" alt="⑦階段を下りた後、まっすぐお進みください​。">
						</div>
						<p class="store-main__block-caption">⑦階段を下りた後、まっすぐお進みください​。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-08.jpg" alt="⑧右手入り口よりお入りください。">
						</div>
						<p class="store-main__block-caption">⑧右手入り口よりお入りください。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-09.jpg" alt="⑨事務所建物の全体写真です。">
						</div>
						<p class="store-main__block-caption">⑨事務所建物の全体写真です。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-10.jpg" alt="⑩予約の方は4階までお願いします。">
						</div>
						<p class="store-main__block-caption">⑩予約の方は4階までお願いします。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-11.jpg" alt="⑪法律事務所Sは4階・5階です。ご予約の方は4階へお越し下さい。">
						</div>
						<p class="store-main__block-caption">⑪法律事務所Sは4階・5階です。ご予約の方は4階へお越し下さい。</p>
					</li>
					<li class="store-main__block-item">
						<div class="store-main__block-img">
							<img src="<%= RELATIVE_PATH %>img/access/img-12.jpg" alt="⑫お待ちしておりました。ようこそ法律事務所Sへ。">
						</div>
						<p class="store-main__block-caption">⑫お待ちしておりました。<br>ようこそ法律事務所Sへ。</p>
					</li>
				</ul>
				<span class="pagingInfo"></span>
			</div>
			<div class="store-main__block">
				<h5 class="c-ttl__03"><span>お車でのアクセス</span></h5>
				<p class="c-txt__basic store-main__block-intro">
					弊所には専用駐車場がございません。<br>恐れ入りますが、周辺のコインパーキングをご利用ください。
				</p>
				<div class="store-main__block-wp store-main__block-wp--sm">
					<div class="store-main__block-img">
						<img src="<%= RELATIVE_PATH %>img/access/img-map.jpg" alt="お車でのアクセス">
					</div>
					<div class="c-txt__basic-small store-main__block-ct">
						<ul>
							<li>・シンコウパーク相模原駅前 駐車場</li>
							<li>・NPC24H相模原パーキング</li>
							<li>・相模原駅前駐車場</li>
							<li>・タイムズ相模原第4</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="office-info">
		<div class="inner">
			<h2 class="c-ttl__05">横浜オフィスのご案内</h2>
			<p class="c-txt__basic office-info__intro">
				横浜および川崎エリアからのアクセスが便利な横浜オフィスもございます。
			</p>
			<div class="office-info__wp">
				<div class="office-info__wp-map">
					<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3855.5097737048386!2d139.64225577637455!3d35.44713654279715!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185d684c2f9715%3A0xba5825f2e3068913!2z5rOV5b6L5LqL5YuZ5omA77yz5qiq5rWc44Kq44OV44Kj44K5!5e1!3m2!1sja!2sjp!4v1734940829667!5m2!1sja!2sjp" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
				</div>
				<div class="c-txt__basic-small office-info__wp-ct">
					<p>
						<span>法律事務所S（横浜オフィス）</span>
						〒231-0023　神奈川県横浜市中区山下町1 シルクセンタービル904
					</p>
					<p>みなとみらい線「日本大通り」駅より徒歩3分</p>
					<a href="https://maps.app.goo.gl/Ascfz1ipkk5sEcq76" target="_blank" class="c-btn__01 c-btn__01--solid">横浜オフィスサイトを見る</a>
				</div>
			</div>
		</div>
	</section>
</main>