<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="business-mv">
		<%- include('common/_breadcrumb'); %>
		<div class="inner">
			<h1 class="business-mv__ttl">
				<span class="c-ft--base">取扱業務</span>
				<span class="c-ft--jp">顧問弁護士</span>
			</h1>
			<p class="business-mv__txt-lead">たった月3万3,000円（税込）であなたの会社に優秀な法務部ができます</p>
		</div>
	</section>
	<section class="business-msg">
		<div class="inner">
			<div class="business-msg__img">
				<img src="<%= RELATIVE_PATH %>img/business/img-01.jpg" alt="中小企業にこそ優秀な法務部を 実務経験豊富な弁護士が、あなたの会社を守ります" class="pc-sm">
				<img src="<%= RELATIVE_PATH %>img/business/img-01-sp.jpg" alt="中小企業にこそ優秀な法務部を 実務経験豊富な弁護士が、あなたの会社を守ります" class="sp-sm">
			</div>
			<div class="business-msg__ct">
				<h2 class="business-msg__ttl">
					<span>中小企業にこそ優秀な法務部を</span>
					<span>実務経験豊富な弁護士が、</span>
					<span>あなたの会社を守ります</span>
				</h2>
				<div class="c-txt__basic business-msg__desc">
					<p>
						現代の企業経営において、取引先との契約問題や従業員とのトラブルなど、法的なリスクはいたるところに潜んでいます。
					</p>
					<p>
						こういったトラブルは時間が経てば経つほど複雑化し、解決が難しくなるものがほとんどです。そのため、日頃からリスク回避の対策をし、トラブル発生時には迅速に対応することが大切です。
					</p>
					<p>
						しかし、中小企業の多くは法務部を設置しておらず、多忙な経営陣はその対策に遅れをとってしまうというのが実情です。
					</p>
					<p>
						そんな中小企業にこそ、顧問弁護士という選択が最適です。<br>
						自社に法務部を設置するには、人件費をはじめ手間もコストもかかりますが、顧問弁護士契約には、そのような心配はありません。企業法務に精通した弁護士チームが、あなたの会社を法的リスクから守ります。
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="business-work">
		<div class="inner">
			<h2 class="c-ttl__05">顧問弁護士として、私たちは次のとおり行動します</h2>
			<ul class="business-work__list">
				<li class="business-work__list-item">
					<div class="business-work__list-img">
						<img src="<%= RELATIVE_PATH %>img/business/img-work-01.jpg" alt="01 Speedy 迅速に対応します">
					</div>
					<div class="business-work__list-ct">
						<h3 class="business-work__list-ttl">
							<span class="c-ft--en">01 Speedy</span>
							<span class="c-ft--base">迅速に対応します</span>
						</h3>
						<p class="c-txt__basic-small">経営には何よりもまず、迅速な判断が求められます。私たちはクレド「speedy」を実践し、クライアント様のご相談に対して、電話・メール・チャットアプリ等を駆使して、迅速に対応します。</p>
					</div>
				</li>
				<li class="business-work__list-item">
					<div class="business-work__list-img">
						<img src="<%= RELATIVE_PATH %>img/business/img-work-02.jpg" alt="01 Speedy 迅速に対応します">
					</div>
					<div class="business-work__list-ct">
						<h3 class="business-work__list-ttl">
							<span class="c-ft--en">02 Share</span>
							<span class="c-ft--base">きちんとお話を伺います</span>
						</h3>
						<p class="c-txt__basic-small">聞かれたことに答えるだけなら、AIと変わりません。私たちはクレド「share」を実践し、クライアント様の思いや現状を正確に把握し、的確なサービスを提供します。</p>
					</div>
				</li>
				<li class="business-work__list-item">
					<div class="business-work__list-img">
						<img src="<%= RELATIVE_PATH %>img/business/img-work-03.jpg" alt="03 Sincerity 真摯に対応します">
					</div>
					<div class="business-work__list-ct">
						<h3 class="business-work__list-ttl">
							<span class="c-ft--en">03 Sincerity</span>
							<span class="c-ft--base">真摯に対応します</span>
						</h3>
						<p class="c-txt__basic-small">相談することが億劫になれば、せっかくの顧問弁護士も役に立ちません。私たちはクライアント様に真摯に対応し、末永く良い関係性を築きます。</p>
					</div>
				</li>
				<li class="business-work__list-item">
					<div class="business-work__list-img">
						<img src="<%= RELATIVE_PATH %>img/business/img-work-04.jpg" alt="04 Speciality 向上を続けます">
					</div>
					<div class="business-work__list-ct">
						<h3 class="business-work__list-ttl">
							<span class="c-ft--en">04 Speciality</span>
							<span class="c-ft--base">向上を続けます</span>
						</h3>
						<p class="c-txt__basic-small">弁護士業務のみならず各弁護士の多様な経験を共有し、あらゆる問題に応じられる高度な専門性を確保します。</p>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<section class="business-benefit">
		<div class="business-benefit__wp">
			<h2 class="c-ttl__05 c-ttl__05--no-line">このような方はぜひ一度、ご相談ください</h2>
			<ul class="business-benefit__check">
				<li>取引先との法的トラブルを相談できる人や部署がない</li>
				<li>社内外の契約を締結する時に、問題がないかチェックしてほしい</li>
				<li>顧客からの理不尽なクレームに悩んでいる</li>
				<li>債権を回収したいが、方法がわからない</li>
				<li>従業員から未払いの残業代があると苦情が来ている</li>
				<li>社内のコンプライアンスを見直したい</li>
			</ul>
			<a href="#" class="c-btn__01">
				<span>ご相談はこちら</span>
			</a>
		</div>
	</section>
	<section class="business-reasons">
		<div class="inner">
			<h2 class="c-ttl__05 c-ttl__05--wt">顧問弁護士を<br class="sp">契約するメリット</h2>
			<p class="c-txt__basic business-reasons__txt-intro">
				顧問弁護士を契約しておくことで、法的リスクの事前防止や迅速な対応を可能にし、<br class="pc">
				トラブル発生時のコスト削減やビジネスの信頼性向上に貢献します。<br>
				法律問題が発生する前に備えておくことが、安定した事業運営に大切です。
			</p>
			<ol class="c-txt__basic business-reasons__list js-reason-sp">
				<li class="business-reasons__list-item">
					<h3 class="business-reasons__list-ttl">
						トラブルが起きる前に<br>
						<span>未然に防ぐ</span>
					</h3>
					<p>企業活動における法的リスクを事前に評価し、トラブルを未然に防ぎます。</p>
					<ul>
						<li>契約書チェック</li>
						<li>コンプライアンス体制の構築支援</li>
						<li>法的リスクの評価と予防策の提案</li>
					</ul>
				</li>
				<li class="business-reasons__list-item">
					<h3 class="business-reasons__list-ttl">
						トラブル発生時には<br>
						<span>迅速なサポート</span>
					</h3>
					<p>トラブル発生時には、迅速かつ適切な対応策をアドバイスします。</p>
					<ul>
						<li>企業法務に基づくアドバイス</li>
						<li>労務問題の対応とアドバイス</li>
					</ul>
				</li>
				<li class="business-reasons__list-item">
					<h3 class="business-reasons__list-ttl">
						事件化した場合にも<br>
						<span>早期解決</span>
					</h3>
					<p>事前の事業理解があり、早期の着手が可能なため、最善の解決策を迅速に導きます。</p>
					<ul>
						<li>債権回収のサポート</li>
						<li>取引先との紛争解決</li>
						<li>裁判や仲裁手続の代理</li>
					</ul>
				</li>
				<li class="business-reasons__list-item">
					<h3 class="business-reasons__list-ttl">
						<span>法的アドバイス</span>が<br>受けられる
					</h3>
					<p>各種手続きや企業活動における法的アドバイスやご相談に応じます。</p>
					<ul>
						<li>事業承継や企業再編の支援</li>
						<li>各種許認可手続のサポート</li>
						<li>研修やセミナーの実施</li>
					</ul>
				</li>
			</ol>
			<p class="business-reasons__note">※ご契約プランにより、契約料金に含まれないものがございます。別途料金が発生する場合には、プラン別の割引料金にて対応させていただきます。</p>
		</div>
	</section>
	<section class="business-plan">
		<div class="inner">
			<h2 class="c-ttl__05">法律事務所Sが選ばれる理由</h2>
			<p class="c-txt__basic business-plan__intro">数ある法律事務所の中から、弊所がお客様に選ばれている主な理由は次の通りです。</p>
			<ul class="business-plan__list">
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>01</span></div>
					<h3 class="business-plan__list-ttl">県内最大規模の豊富な実績</h3>
					<p class="c-txt__basic">令和5年1月1日現在、法律顧問185社、中小企業の相談実績2000件を超えるなど、県内有数の豊富な実績を誇ります</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>02</span></div>
					<h3 class="business-plan__list-ttl">専門性の高い弁護士・<br>リーガルスタッフ</h3>
					<p class="c-txt__basic">中小企業法務、不動産、債権回収、倒産業務、事業承継、著作権などに精通した弁護士が在籍。また、日弁連事務職員検定試験や行政書士試験を通過した専門スタッフもおり、チームでサポートいたします。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>03</span></div>
					<h3 class="business-plan__list-ttl">サービス面での高い評価</h3>
					<p class="c-txt__basic">サービス面でも高い評価を頂き、2017年には経済産業省「おもてなし規格認証」で金認証を取得しております。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>04</span></div>
					<h3 class="business-plan__list-ttl">法的リスクの早期発見・予防と法務人材コストの削減</h3>
					<p class="c-txt__basic">豊富な経験と専門性で、法的リスクの早期発見と予防、法務人材コストの削減を実現します。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>05</span></div>
					<h3 class="business-plan__list-ttl">最新テクノロジーの導入</h3>
					<p class="c-txt__basic">AI契約書レビューツール「LegalForce」を導入し、迅速かつ正確な契約書レビューを提供。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>06</span></div>
					<h3 class="business-plan__list-ttl">SDGs推進をサポート</h3>
					<p class="c-txt__basic">SDGsを推進する県内初の法律事務所として、自事務所での取り組みはもちろん、企業のSDGs推進もサポートしております。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>07</span></div>
					<h3 class="business-plan__list-ttl">補助金・助成金獲得サポート</h3>
					<p class="c-txt__basic">中小企業診断士資格を持つ弁護士が所属しており、各種補助金・助成金の活用を支援。厚生労働省や経済産業省の制度を活用したサポートを提供します。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>08</span></div>
					<h3 class="business-plan__list-ttl">福利厚生・採用促進への活用</h3>
					<p class="c-txt__basic">顧問契約企業の従業員様の個人的な相談にも初回無料で対応。従業員の福利厚生や採用促進にも喜ばれています。</p>
				</li>
				<li class="business-plan__list-item">
					<div class="business-plan__list-number">理由<span>09</span></div>
					<h3 class="business-plan__list-ttl">ニーズに応じた3つのプラン</h3>
					<p class="c-txt__basic">事業フェーズや業種、ニーズ、予算等に応じてお選びいただけるよう、3つの契約プランをご用意しております。</p>
				</li>
			</ul>
			<button class="view-plan">
				<span>選ばれる理由をもっと見る</span>
				<span>選ばれる理由を閉じる</span>
			</button>
		</div>
	</section>
	<section class="business-contract">
		<div class="inner">
			<h2 class="c-ttl__05">プランについて</h2>
			<p class="c-txt__basic business-contract__intro">
				顧問契約のプランには、主にご相談のみやこれから発展する企業様向けのスタートアッププラン、<br class="pc">
				不動産業・建設業・高齢者施設などに広く選ばれているスタンダードプラン、<br class="pc">
				債権回収案件が多い企業様に選ばれているプレミアムプランの3種類がございます。
			</p>
			<div class="c-txt__basic business-contract__table">
				<table>
					<tr>
						<th></th>
						<td>
							<h3 class="business-contract__table-ttl">
								<span class="c-ft--jp">Startup</span>
								<span class="c-ft--base">スタートアッププラン</span>
							</h3>
							<div class="business-contract__table-price">
								<div>
									<span>33,000</span>円～<br><span>54,999</span>円
								</div>
							</div>
						</td>
						<td>
							<h3 class="business-contract__table-ttl">
								<span class="c-ft--jp">Standard</span>
								<span class="c-ft--base">スタートアッププラン</span>
							</h3>
							<div class="business-contract__table-price">
								<div>
									<span>55,000</span>円～<br><span>109,999</span>円
								</div>
							</div>
						</td>
						<td>
							<h3 class="business-contract__table-ttl">
								<span class="c-ft--jp">Premium</span>
								<span class="c-ft--base">プレミアムプラン</span>
							</h3>
							<div class="business-contract__table-price">
								<div>
									<span>110,000</span>円〜
								</div>
							</div>
						</td>
					</tr>
					<tr>
						<td>法律相談</td>
						<td>何回でも可</td>
						<td>何回でも可</td>
						<td>何回でも可</td>
					</tr>
					<tr>
						<td>優先予約・時間外相談</td>
						<td><span class="c-fc--red">〇</span></td>
						<td><span class="c-fc--red">〇</span></td>
						<td><span class="c-fc--red">〇</span></td>
					</tr>
					<tr>
						<td>携帯・Mail相談</td>
						<td><span class="c-fc--red">〇</span></td>
						<td><span class="c-fc--red">〇</span></td>
						<td><span class="c-fc--red">〇</span></td>
					</tr>
					<tr>
						<td>事件ディスカウント</td>
						<td>10%</td>
						<td>15%</td>
						<td>20%</td>
					</tr>
					<tr>
						<td>小規模Ｇ企業・従業員の相談</td>
						<td>初回無料</td>
						<td>初回無料</td>
						<td>何回でも無料</td>
					</tr>
					<tr>
						<td>内容証明等・簡易調査・交渉</td>
						<td>×<br>（別途料金にて対応）</td>
						<td><span class="c-fc--red">〇</span></td>
						<td><span class="c-fc--red">〇</span><br>（一部簡裁訴訟まで行う）</td>
					</tr>
				</table>
			</div>
			<div class="business-contract__note">
				<h3 class="business-contract__note-label">士業様向けの特別プランについて</h3>
				<p class="c-txt__basic">
					士業の皆様は一定の専門知識をお持ちのため、<br class="pc">
					その規模に応じて<span>月額2万2000円（税込）</span>から法律顧問契約をご利用いただけます。
				</p>
			</div>
		</div>
	</section>
	<section class="business-solution">
		<div class="inner">
			<div class="c-txt__basic business-solution__wp">
				<h2 class="c-ttl__05">ご契約内容</h2>
				<p class="c-txt__basic business-solution__intro">ご契約で提供する主な役務は以下の通りです。</p>
				<dl class="business-solution__dl">
					<dt class="business-solution__dt">1．法律相談</dt>
					<dd class="business-solution__dd">ご契約期間中は、他のご依頼者様に優先して予約ができ、何回でも法律相談が可能です。携帯電話、メール、LINE等でのご相談も可能です。</dd>
				</dl>
				<dl class="business-solution__dl">
					<dt class="business-solution__dt">2．グループ企業・従業員様のご相談</dt>
					<dd class="business-solution__dd">グループ企業（代表取締役を兼任又は資本提携がある会社）のうち年商1億円以下の企業様、従業員様の個人的なご相談も（初回）無料です。従業員様の福利厚生・採用促進として喜ばれております（ご契約者様と利益相反するご相談はお受けしかねます）。</dd>
				</dl>
				<dl class="business-solution__dl">
					<dt class="business-solution__dt">3．事件ディスカウント</dt>
					<dd class="business-solution__dd">事件業務のご依頼を別にお受けする場合、スタートアッププランは10％、スタンダードプランは15％、プレミアムプランは20％の費用を減額します。</dd>
				</dl>
				<dl class="business-solution__dl">
					<dt class="business-solution__dt">4．簡易書面や内容証明郵便作成・簡易調査・簡易交渉（簡易業務）</dt>
					<dd class="business-solution__dd">
						スタンダードプラン以上のご契約者様は、A4一枚程度の定型書類、内容証明郵便の作成・発送や、簡易な調査、簡易な交渉の電話1～2回まで顧問契約でご対応します（継続的な対応、契約書作成等は別契約となります。また、実費は頂戴いたします）。 プレミアムプランでは、事案単純な簡易裁判所の訴訟も行います
					</dd>
				</dl>
			</div>
		</div>
	</section>



	<section class="solution-example">
		<div class="inner">
			<h2 class="c-ttl__05">解決事例</h2>
			<ul class="cases-list">
				<li class="cases-list__item">
					<a href="" class="cases-list__box">
						<div class="cases-list__number c-fc--red">
							<small>事 例</small>
						</div>
						<div class="cases-list__ct">
							<span class="cases-list__ct-category c-fc--red">顧問弁護士</span>
							<h3 class="cases-list__ct-ttl">IT開発ベンダーとの打ち合わせに顧問弁護士も立ち会いながらシステム開発を進めた事例</h3>
						</div>
					</a>
				</li>
				<li class="cases-list__item">
					<a href="" class="cases-list__box">
						<div class="cases-list__number c-fc--red">
							<small>事 例</small>
						</div>
						<div class="cases-list__ct">
							<span class="cases-list__ct-category c-fc--red">M＆A ・ 事業承継</span>
							<h3 class="cases-list__ct-ttl">売掛金を迅速に回収した事例</h3>
						</div>
					</a>
				</li>
				<li class="cases-list__item">
					<a href="" class="cases-list__box">
						<div class="cases-list__number c-fc--red">
							<small>事 例</small>
						</div>
						<div class="cases-list__ct">
							<span class="cases-list__ct-category c-fc--red">顧問弁護士</span>
							<h3 class="cases-list__ct-ttl">怪文書を迅速に停止した事例</h3>
						</div>
					</a>
				</li>
			</ul>
			<a href="#" class="c-btn__01">
				<span>一覧を見る</span>
			</a>
		</div>
	</section>
	
	<section class="fee-faq">
		<div class="inner">
			<h2 class="c-ttl__05">よくある質問</h2>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">顧問弁護士の具体的な内容がよく分かりません。何をしてくれるのですか？</dt>
				<dd class="fee-faq__dd">
					顧問弁護士の業務は、きめ細やかなオーダーメイドが可能です。<br>
					頻繁に契約書を交わす企業であれば、契約書のチェックを主たる内容としたり、会員を多く抱えている企業であれば、顧客サービスの一環として各会員がお気軽に弁護士に法律相談できるようにする等も可能です。ぜひ一度、ご相談下さい。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					可能です。ただし、事件の当事者でないと分からない事柄が事件のポイントを握っていることも多いため、正確なご回答のためにも、可能な限り、ご本人の同席をお願い致します。<br>
					また、事件を受任する際には、ご本人と直接お会いし、意思確認及び本人確認を行わせて頂きますので、ご了承下さい。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					可能です。ただし、事件の当事者でないと分からない事柄が事件のポイントを握っていることも多いため、正確なご回答のためにも、可能な限り、ご本人の同席をお願い致します。<br>
					また、事件を受任する際には、ご本人と直接お会いし、意思確認及び本人確認を行わせて頂きますので、ご了承下さい。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					可能です。ただし、事件の当事者でないと分からない事柄が事件のポイントを握っていることも多いため、正確なご回答のためにも、可能な限り、ご本人の同席をお願い致します。<br>
					また、事件を受任する際には、ご本人と直接お会いし、意思確認及び本人確認を行わせて頂きますので、ご了承下さい。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
			<dl class="fee-faq__dl">
				<dt class="fee-faq__dt">XXXXXXXXXXXXXXXXXXXXXXXXXX？</dt>
				<dd class="fee-faq__dd">
					ご安心下さい。弊所では費用を明確にしております。また、お見積もりは無料で承っておりますので、お気軽にお申し出下さい。企業様の法律顧問契約についても、お見積もりを作成いたします。
				</dd>
			</dl>
		</div>
	</section>
	<section class="business-relative">
		<div class="inner">
			<h2 class="c-ttl__05">関連コラム</h2>
			<ul class="column-list js-column-slider02">
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-01.jpg" alt="物流業界における「2024年問題」について">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">顧問弁護士</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">物流業界における「2024年問題」について</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-02.jpg" alt="令和4年4月1日から施行される改正個人情報保護法について">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">XXXXXXX</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-03.jpg" alt="管轄について~執行・保全の場合は?~">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">XXXXXXX</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-01.jpg" alt="物流業界における「2024年問題」について">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">顧問弁護士</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">物流業界における「2024年問題」について</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-02.jpg" alt="令和4年4月1日から施行される改正個人情報保護法について">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">XXXXXXX</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-03.jpg" alt="管轄について~執行・保全の場合は?~">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">XXXXXXX</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-01.jpg" alt="物流業界における「2024年問題」について">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">顧問弁護士</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">物流業界における「2024年問題」について</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-02.jpg" alt="令和4年4月1日から施行される改正個人情報保護法について">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">XXXXXXX</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						</div>
					</a>
				</li>
				<li class="column-list__item">
					<a href="" class="column-list__box">
						<div class="column-list__img">
							<img src="<%= RELATIVE_PATH %>img/business/img-news-03.jpg" alt="管轄について~執行・保全の場合は?~">
						</div>
						<div class="column-list__ct c-txt__basic-small">
							<div class="column-list__ct-heading">
								<span class="column-list__ct-category">XXXXXXX</span>
								<time>2024.10.01</time>
							</div>
							<h3 class="column-list__ct-ttl c-ft--jp">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						</div>
					</a>
				</li>
			</ul>
			<a href="#" class="c-btn__01">
				<span>他の記事を見る</span>
			</a>
		</div>
	</section>
	<div class="inner">
		<ul class="business-solution__list">
			<li class="business-solution__list-item">
				<a href="https://drive.google.com/file/d/11JPLPsk-9yI-rVml9y4I9CVdp7uJRFXm/view" target="_blank">
					<p class="business-solution__list-label">顧問弁護士をご検討の経営者様、ご担当者様へ</p>
					<div class="business-solution__list-wp">
						<h3 class="business-solution__list-ttl">詳しい資料を差し上げております</h3>
						<p class="c-txt__basic-small business-solution__list-desc">
							顧問弁護士についてもっとお知りになりたい方へ、弊所のプランや業務内容、ご利用の流れ等を掲載した、詳しい資料を差し上げております。
						</p>
					</div>
					<div class="business-solution__list-img">
						<img src="<%= RELATIVE_PATH %>img/business/img-02.jpg" alt="詳しい資料を差し上げております">
						<p><span>法律顧問契約のご案内</span>リーフレットダウンロードはこちら</p>
					</div>
				</a>
				<a href="https://drive.google.com/file/d/11JPLPsk-9yI-rVml9y4I9CVdp7uJRFXm/view" target="_blank" class="c-btn__01">
					<span>法律契約顧問契約のご案内</span>
				</a>
				<p class="business-solution__list-note">リーフレットのダウンロードはこちら</p>
			</li>
			<li class="business-solution__list-item">
				<a href="https://s-news.scs-lo.com/" target="_blank">
					<p class="business-solution__list-label">顧問先の皆様へ</p>
					<div class="business-solution__list-wp">
						<h3 class="business-solution__list-ttl">限定コンテンツを公開中</h3>
						<p class="c-txt__basic-small business-solution__list-desc">
							法律顧問契約を結んでいただいている方々へ向けて企業経営・企業法務に関する有益な情報が満載のコンテンツ「THE S NEWS」をお届けしております。
						</p>
					</div>
					<div class="business-solution__list-img">
						<img src="<%= RELATIVE_PATH %>img/business/img-03.jpg" alt="限定コンテンツを公開中">
						<p><span>THE S NEWS</span>法律顧問先の限定コンテンツ</p>
					</div>
				</a>
				<a href="https://s-news.scs-lo.com/" target="_blank" class="c-btn__01">
					<span>THE S NEWS</span>
				</a>
				<p class="business-solution__list-note">法律顧問先の限定コンテンツ</p>
			</li>
		</ul>
	</div>
</main>
