<main id="page-<%= pageData.template %>">
	<section class="top-mv">
		<ul class="mv-slider">
			<li class="mv-slider__item">
				<div class="mv-slider__img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-01.jpg" alt="Power Your Business" class="pc">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-01-sp.jpg" alt="Power Your Business" class="sp">
				</div>

				<div class="mv-block__01">
					<span class="mv-block__01-ttl c-ft--roboto c-ft--roboto-condensed">
						Power<br>
						Your<br>
						Business
					</span>
					<span class="mv-block__01-txt">中小企業にパワーを</span>
					<ul class="mv-block__01-note">
						<li>
							<span class="mv-block__01-note-ttl">〈法律顧問〉</span>
							<div class="mv-block__01-show">
								<span class="mv-block__01-show-number c-ft--roboto-condensed">185<small>社</small></span>
							</div>
						</li>
						<li>
							<span class="mv-block__01-note-ttl">〈相談実績〉</span>
							<div class="mv-block__01-show">
								<span class="mv-block__01-show-number c-ft--roboto-condensed">2,000<small>件</small></span>
							</div>
						</li>
						<li>
							<span class="mv-block__01-note-ttl">〈最先端テクノロジー〉</span>
							<div class="mv-block__01-show">
								<span>
									AI契約書<br>
									チェック
								</span>
							</div>
						</li>
					</ul>
					<a href="" class="c-btn__01 c-btn__01--red">
						<span>顧問弁護士について知る</span>
					</a>
				</div>
				<h1 class="mv-ttl">
					<span>模相原状市内‟最大規模″</span>
					<span>企業法務・企業顧問に強い弁護士事務所</span>
				</h1>
			</li>
			<li class="mv-slider__item">
				<div class="mv-slider__img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-02.jpg" alt="Cool Head, Warm Heart">
				</div>
				<div class="mv-block__02">
					<div class="mv-block__02-ttl">
						<img src="<%= RELATIVE_PATH %>img/index/mv-img-02-item-ttl.png" alt="Cool Head, Warm Heart">
					</div>
					<p>
						解決内容への満足度は<span>87</span>％以上<br>
						圧倒的な解決力でご依頼者様の期待に応えます
					</p>
					<a href="" class="c-btn__01 c-btn__01--solid">
						<span>ご依頼者様の声を見る</span>
					</a>
				</div>
				<div class="mv-block__02-img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-02-item.png" alt="Cool Head, Warm Heart">
				</div>
			</li>
			<li class="mv-slider__item">
				<div class="mv-block__03">
					<div class="mv-block__03-box">
						<div class="mv-block__03-ttl">
							<img src="<%= RELATIVE_PATH %>img/index/mv-img-03-item-ttl.png" alt="Create Another future" c>
						</div>
						<p>
							私たちは、困難な課題・事件の解決を通じて、<br>
							クライアントが一人では辿り着くことができない<br>
							<span class="c-fc--red">another future（もう一つの未来）</span>を共に創造します。
						</p>
						<a href="" class="c-btn__01">
							<span>事務所紹介を見る</span>
						</a>
					</div>
					<div class="mv-block__03-img mv-slider__img">
						<img src="<%= RELATIVE_PATH %>img/index/mv-img-03.jpg" alt="Create Another future" class="pc">
						<img src="<%= RELATIVE_PATH %>img/index/mv-img-03-sp.jpg" alt="Create Another future" class="sp">
					</div>
				</div>
			</li>
			<li class="mv-slider__item">
				<div class="mv-slider__img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-04.jpg" alt="より良いリーガルサービスを目指して">
				</div>
				<div class="mv-block__04">
					<div class="mv-block__04-ttl c-ft--jp">
						<span>
							より良いリーガルサービス<br>を目指して
						</span>
					</div>
					<p>
						社会の発展に寄与し続けるためには<br>
						皆様へのサービス向上が不可欠であるとの考えから、<br>
						おもてなし規格認証を取得しました。<br>
						<span class="c-fc--red">
							全国において、おもてなし規格認証を取得している<br>
							法律事務所は弊所のみです。
						</span>
						<small>（令和4年1月24日時点）</small>
					</p>
					<a href="" class="c-btn__01 c-btn__01--solid">
						<span>おもてなし規格認証について知る</span>
					</a>
				</div>
				<div class="mv-block__04-img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-04-item.png" alt="Cool Head, Warm Heart">
				</div>
			</li>
			<li class="mv-slider__item">
				<div class="mv-slider__img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-05.jpg" alt="法律家X最先端テクノロジー">
				</div>
				<div class="mv-block__05">
					<div class="mv-block__05-ttl c-ft--jp">
						<img src="<%= RELATIVE_PATH %>img/index/mv-img-05-item-ttl.png" alt="法律家X最先端テクノロジー">
					</div>
					<p>
						AI契約書チェックやアプリ等を積極的に導入<br>
						法律家と最先端テクノジーが融合することで<br>
						より正確で迅速な対応を可能にします
					</p>
					<a href="" class="c-btn__01 c-btn__01--solid">
						<span>導入テクノロジーを知る</span>
					</a>
				</div>
			</li>
			<li class="mv-slider__item">
				<div class="mv-slider__img">
					<img src="<%= RELATIVE_PATH %>img/index/mv-img-06.jpg" alt="SDGsを推進する県内初の法律事務所">
				</div>
				<div class="mv-block__06">
					<div class="mv-block__06-img">
						<img src="<%= RELATIVE_PATH %>img/index/mv-img-06-sp.jpg" alt="SDGsを推進する県内初の法律事務所">
						<a href="" class="c-btn__01">
							<span>SDGsの推進について知る</span>
						</a>
					</div>
					<div class="mv-block__06--note">
						<img src="<%= RELATIVE_PATH %>img/index/mv-img-06-note.png" alt="SDGsを推進する県内初の法律事務所">
					</div>
				</div>
			</li>
		</ul>
	</section>
	<section class="top-news">
		<div class="inner">
			<h2 class="c-ttl__01">
				NEWS
			</h2>
			<ul class="news-list">
				<li class="news-list__item">
					<a href="">
						<time>2024.10.01</time>
						<span class="news-list__category">お知らせ</span>
						<p>
							ホームページをリニューアルいたしました。
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<time>2024.10.01</time>
						<span class="news-list__category">お知らせ</span>
						<p>
							ホームページをリニューアルいたしました。ホームページをリニューアルいたしました。ホームページをリニューアルいたしました。ホームページをリニューアルいたしました。ホームページをリニューアルいたしました。ホームページをリニューアルいたしました。
						</p>
					</a>
				</li>
				<li class="news-list__item">
					<a href="">
						<time>2024.10.01</time>
						<span class="news-list__category">お知らせ</span>
						<p>
							ホームページをリニューアルいたしました。
						</p>
					</a>
				</li>
			</ul>
			<div class="c-al--r">
				<a href="" class="view-more">
					一覧を見る
				</a>
			</div>

		</div>
	</section>
	<section class="top-about">
		<div class="inner">
			<div class="about-block">
				<h2 class="c-ttl__02">
					<span class="c-ft--en">ABOUT US</span>
					<span class="c-ft--jp">わたしたちについて</span>
				</h2>
				<div class="about-block__img">
					<img src="<%= RELATIVE_PATH %>img/index/about-img.jpg" alt="ABOUT US" class="pc">
					<img src="<%= RELATIVE_PATH %>img/index/about-img-sp.jpg" alt="ABOUT US" class="sp">
					<div class="about-block__img--note">
						<div class="about-block__img--custom">
							<img src="<%= RELATIVE_PATH %>img/index/about-img-note.jpg" alt="ABOUT US" class="pc">
							<img src="<%= RELATIVE_PATH %>img/index/about-img-note-sp.jpg" alt="ABOUT US" class="sp">
						</div>

					</div>
				</div>
				<div class="about-block__ct c-txt__basic">
					<h3 class="about-block__ct-ttl c-ft--jp">
						事務所理念「Three Well-Being」<br class="sp">のもとに<br class="pc">リーガルサービスを通じ、<br class="sp">より豊かな未来を創造します
					</h3>
					<p>
						「Three Well-Being」には、弊所に関わるクライアント・クルー・地域社会といった、すべての人々と社会が、1人ではたどり着けないもう一つの輝かしい未来へ向かうことができるよう最善を尽くす、という決意が込められております。<br>
						わたしたちはクライアントに寄り添い、質の高いリーガルサービスを提供することで、課題を発見し、解決へ導き、より輝かしい未来を創造することに尽力します。
					</p>
				</div>
			</div>
		</div>
	</section>
	<section class="top-service">
		<div class="service-banner">
			<img src="<%= RELATIVE_PATH %>img/index/service-banner.jpg" alt="クライアントの輝かしい未来を実現するため、クレドを策定。高品質なリーガルサービスの提供に励むことをお約束します。" class="pc">
			<img src="<%= RELATIVE_PATH %>img/index/service-banner-sp.jpg" alt="クライアントの輝かしい未来を実現するため、クレドを策定。高品質なリーガルサービスの提供に励むことをお約束します。" class="sp">
		</div>
		<div class="inner">
			<div class="service-heading c-ft--jp">
				<p>
					クライアントの輝かしい未来を<br class="sp">実現するため、クレドを策定。<br>
					高品質なリーガルサービスの提供に<br class="sp">励むことをお約束します。
				</p>
			</div>
			<h3 class="c-ttl__03">
				<span>法律事務所S のクレド</span>
			</h3>
			<ul class="service-list">
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/service-img-01.jpg" alt="Share">
						</div>
						<div class="service-list__ct c-txt__basic-small">
							<h4 class="service-list__ct-ttl c-ft--en">Share</h4>
							<p>
								私たちは、クライアントの皆様の想いを共有し、共に未来へ向けて歩みます。
							</p>
						</div>
					</div>
				</li>
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/service-img-02.jpg" alt="Sincerity">
						</div>
						<div class="service-list__ct c-txt__basic-small">
							<h4 class="service-list__ct-ttl c-ft--en">Sincerity</h4>
							<p>
								私たちは、常に真心をもって、誠実に業務に取り組みます。
							</p>
						</div>
					</div>
				</li>
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/service-img-03.jpg" alt="Speciality">
						</div>
						<div class="service-list__ct c-txt__basic-small">
							<h4 class="service-list__ct-ttl c-ft--en">Speciality</h4>
							<p>
								私たちは、日々研鑽を重ね、高度な専門性を武器とします。
							</p>
						</div>
					</div>
				</li>
				<li class="service-list__item">
					<div class="service-list__box">
						<div class="service-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/service-img-04.jpg" alt="Speedy">
						</div>
						<div class="service-list__ct c-txt__basic-small">
							<h4 class="service-list__ct-ttl c-ft--en">Speedy</h4>
							<p>
								私たちは、時間を価値と捉え、紛争を迅速に解決します。
							</p>
						</div>
					</div>
				</li>
			</ul>
			<a href="" class="c-btn__01">
				<span>詳しく見る</span>
			</a>
		</div>
	</section>
	<section class="top-attorney">
		<h2 class="c-ttl__04">
			弁護士紹介
		</h2>
		<ul class="attorney-list js-attorney-slider">
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-01.jpg" alt="藤田 寛之">
					</div>
					<div class="attorney-list__ct">
						<p>シニアパートナー</p>
						<p>
							<span>弁護士</span>
							<span class="attorney-list__ct-name">藤田 寛之</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-02.jpg" alt="宇田川 隼">
					</div>
					<div class="attorney-list__ct">
						<p>シニアパートナー</p>
						<p>
							<span>弁護士</span>
							<span class="attorney-list__ct-name">宇田川 隼</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-03.jpg" alt="瀬野 陽仁">
					</div>
					<div class="attorney-list__ct">
						<p>パートナー</p>
						<p>
							<span>弁護士/税理士</span>
							<span class="attorney-list__ct-name">瀬野 陽仁</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-04.jpg" alt="末広 多親子">
					</div>
					<div class="attorney-list__ct">
						<p>シニアアソシエイト</p>
						<p>
							<span>弁護士・中小企業診断士</span>
							<span class="attorney-list__ct-name">末広 多親子</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-05.jpg" alt="谷 樹人">
					</div>
					<div class="attorney-list__ct">
						<p>シニアアソシエイト</p>
						<p>
							<span>弁護士</span>
							<span class="attorney-list__ct-name">谷 樹人</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-06.jpg" alt="長南 悠">
					</div>
					<div class="attorney-list__ct">
						<p></p>
						<p>
							<span>弁護士</span>
							<span class="attorney-list__ct-name">長南 悠</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-07.jpg" alt="𦚰澤 奏江">
					</div>
					<div class="attorney-list__ct">
						<p></p>
						<p>
							<span>弁護士</span>
							<span class="attorney-list__ct-name">𦚰澤 奏江</span>
						</p>
					</div>
				</a>
			</li>
			<li class="attorney-list__item">
				<a href="" class="attorney-list__box">
					<div class="attorney-list__img">
						<img src="<%= RELATIVE_PATH %>img/index/attorney-img-08.jpg" alt="𦚰澤 奏江">
					</div>
					<div class="attorney-list__ct">
						<p>パートナー</p>
						<p>
							<span>弁護士</span>
							<span class="attorney-list__ct-name">古林 能敬</span>
						</p>
					</div>
				</a>
			</li>
		</ul>
		<a href="" class="c-btn__01">
			<span>一覧を見る</span>
		</a>
	</section>
	<section class="top-practices">
		<div class="inner">
			<div class="banner-block">
				<h2 class="c-ttl__02">
					<span class="c-ft--en">PRACTICES</span>
					<span class="c-ft--jp">取扱業務</span>
				</h2>
				<div class="banner-block__img">
					<img src="<%= RELATIVE_PATH %>img/index/practices-banner.jpg" alt="PRACTICES" class="pc">
					<img src="<%= RELATIVE_PATH %>img/index/practices-banner-sp.jpg" alt="PRACTICES" class="sp">
				</div>
			</div>
			<h3 class="c-ttl__03 c-fc--red">
				<span>法人のお客様</span>
			</h3>
			<ul class="practices-list">
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-01.png" alt="顧問弁護士">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								顧問弁護士
							</h4>
							<p>
								法務面から会社経営の不安を解消できるパートナーとなります
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-02.png" alt="債権回収">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								債権回収
							</h4>
							<p>
								未回収の債権を迅速かつ確実に回収し、企業の資金繰りを支援します
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-03.png" alt="M＆A・事業承継">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								M＆A・事業承継
							</h4>
							<p>
								企業の買収や事業承継をスムーズに進行させるための専門的なサポートを行います
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-04.png" alt="未払残業代請求">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								未払残業代請求
							</h4>
							<p>
								労働者からの未払残業代請求に対し、実態に則した適切な反論と証拠で支払を最小限に抑えます
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-05.png" alt="顧問弁護士">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								解雇事件
							</h4>
							<p>
								解雇に関するトラブルを法的に対応し、企業の権利を守ります
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-06.png" alt="契約書チェック">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								契約書チェック
							</h4>
							<p>
								徹底的な精査、適切なアドバイスにより、契約書のリスクを最小限に抑えます
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-07.png" alt="法人破産・民事再生">
							<div class="practices-list__img--note">
								<img src="<%= RELATIVE_PATH %>img/index/practices-note--01.png" alt="相談料 無料">
							</div>
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								法人破産・民事再生
							</h4>
							<p>
								資金繰りが苦しい経営者の方々に寄り添い、企業の再建や清算を支援し、最適な解決策を提案します
							</p>
						</div>
					</a>
				</li>
			</ul>
			<h3 class="c-ttl__03 c-fc--navy">
				<span>法人のお客様</span>
			</h3>
			<ul class="practices-list">
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-08.png" alt="遺産・相続">
							<div class="practices-list__img--note">
								<img src="<%= RELATIVE_PATH %>img/index/practices-note--02.png" alt="遺産・相続">
							</div>
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								遺産・相続
							</h4>
							<p>
								遺産を残す方、遺産を受け取る方それぞれの立場に立った解決をサポートいたします
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-09.png" alt="建物明渡し事件">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								建物明渡し事件
							</h4>
							<p>
								土地建物オーナーを強力にバックアップ、迅速かつスムーズな明渡を支援します
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-10.png" alt="交通事故">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								交通事故
							</h4>
							<p>
								交通事故の被害者が迅速に適切な賠償を受けられるようお手伝いします
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-11.png" alt="離婚相談">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								離婚相談
							</h4>
							<p>
								離婚に伴う法的問題を解決し、財産分与や子供の養育についてサポートします
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-12.png" alt="借金問題">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								借金問題
							</h4>
							<p>
								借金の問題を解消して生活再建を支援します
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-13.png" alt="高齢者サポート">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								高齢者サポート
							</h4>
							<p>
								高齢者の不安を解消するため、遺言作成・財産の信託・後見制度を活用します
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="top-solution">
		<div class="inner">
			<div class="solution-block">
				<div class="solution-block__ct">
					<div class="solution-block__ct--custom">
						<h3 class="c-ttl__03 c-fc--red mbsp-18">
							<span>法律相談のお申し込み受付中</span>
						</h3>
						<h4 class="solution-block__ct-ttl c-ft--jp">解決は、気軽な相談から始まります。</h4>
						<ul>
							<li>法律相談数<span>2,000</span>件以上</li>
							<li>法人破産・民事再生・遺産相続のご相談は初回<span>60</span>分無料</li>
						</ul>
						<a href="" class="c-btn__01">
							<span>法律相談について詳しく知る</span>
						</a>
						<div class="c-al--c">
							（オンラインでのご相談も可能です）
						</div>
					</div>

				</div>
				<div class="solution-block__img">
					<div class="solution-block__img--custom">
						<img src="<%= RELATIVE_PATH %>img/index/solution-img.jpg" alt="法律相談のお申し込み受付中">
					</div>
				</div>
			</div>
		</div>
	</section>
	<section class="top-column">
		<div class="inner">
			<div class="column-block">
				<h2 class="c-ttl__02">
					<span class="c-ft--en">COLUMN</span>
					<span class="c-ft--jp">コラム</span>
				</h2>
				<ul class="column-list js-column-slider">
					<li class="column-list__item">
						<a href="" class="column-list__box">
							<div class="column-list__img">
								<img src="<%= RELATIVE_PATH %>img/index/column-img-01.jpg" alt="令和６年４月施行金融商品取引法改正について">
							</div>
							<div class="column-list__ct c-txt__basic-small">
								<div class="column-list__ct-heading">
									<span class="column-list__ct-category">その他</span>
									<time>2024.10.01</time>
								</div>
								<h3 class="column-list__ct-ttl c-ft--jp">
									令和６年４月施行<br>
									金融商品取引法改正について
								</h3>
								<p>
									本日は、令和６年４月に施行された、金融商品取引法の改正について、ご紹介させていただきます。
								</p>
							</div>
						</a>
					</li>
					<li class="column-list__item">
						<a href="" class="column-list__box">
							<div class="column-list__img">
								<img src="<%= RELATIVE_PATH %>img/index/column-img-02.jpg" alt="令和4年4月1日から施行される改正個人情報保護法について">
							</div>
							<div class="column-list__ct c-txt__basic-small">
								<div class="column-list__ct-heading">
									<span class="column-list__ct-category">個人情報保護対策</span>
									<time>2024.10.01</time>
								</div>
								<h3 class="column-list__ct-ttl c-ft--jp">
									令和4年4月1日から施行される<br>
									改正個人情報保護法について
								</h3>
								<p>
									いつも法律事務所Sのホームページをご覧いただきありがとうございます。弁護士の森です。令和2年6月12日に公布された令和2年6月12日に公布された令和2年6月12日に公布された
								</p>
							</div>
						</a>
					</li>
					<li class="column-list__item">
						<a href="" class="column-list__box">
							<div class="column-list__img">
								<img src="<%= RELATIVE_PATH %>img/index/column-img-03.jpg" alt="管轄について~執行・保全の場合は?~">
							</div>
							<div class="column-list__ct c-txt__basic-small">
								<div class="column-list__ct-heading">
									<span class="column-list__ct-category">執行・保全</span>
									<time>2024.10.01</time>
								</div>
								<h3 class="column-list__ct-ttl c-ft--jp">
									管轄について<br>
									~執行・保全の場合は?~
								</h3>
								<p>
									いつも法律事務所Sのホームページをご覧いただきまして誠にありがとうございます。 弁護士の瀬野でございます。令和2年6月12日に公布された令和2年6月12日に公布された
								</p>
							</div>
						</a>
					</li>
				</ul>
				<a href="" class="c-btn__01">
					<span>もっと見る</span>
				</a>
			</div>
		</div>
	</section>
	<section class="top-cases">
		<div class="inner">
			<div class="banner-block">
				<h2 class="c-ttl__02">
					<span class="c-ft--en">CASES</span>
					<span class="c-ft--jp">解決事例</span>
				</h2>
				<div class="banner-block__img">
					<img src="<%= RELATIVE_PATH %>img/index/case-banner.jpg" alt="CASES" class="pc">
					<img src="<%= RELATIVE_PATH %>img/index/case-banner-sp.jpg" alt="CASES" class="sp">
				</div>
			</div>
			<ul class="cases-list">
				<li class="cases-list__item">
					<a href="" class="cases-list__box">
						<div class="cases-list__number c-fc--red">
							<small>事 例</small>
						</div>
						<div class="cases-list__ct">
							<span class="cases-list__ct-category c-fc--red">顧問弁護士</span>
							<h3 class="cases-list__ct-ttl">
								IT開発ベンダーとの打ち合わせに顧問弁護士も立ち会いながらシステム開発を進めた事例
							</h3>
						</div>
					</a>
				</li>
				<li class="cases-list__item">
					<a href="" class="cases-list__box">
						<div class="cases-list__number c-fc--red">
							<small>事 例</small>
						</div>
						<div class="cases-list__ct">
							<span class="cases-list__ct-category c-fc--red">M＆A ・ 事業承継</span>
							<h3 class="cases-list__ct-ttl">
								買主側：残業代未払いを発見し、購入価格の値下げを実現した事例
							</h3>
						</div>
					</a>
				</li>
				<li class="cases-list__item">
					<a href="" class="cases-list__box">
						<div class="cases-list__number c-fc--red">
							<small>事 例</small>
						</div>
						<div class="cases-list__ct">
							<span class="cases-list__ct-category c-fc--red">顧問弁護士</span>
							<h3 class="cases-list__ct-ttl">
								売掛金を迅速に回収した事例
							</h3>
						</div>
					</a>
				</li>
			</ul>
			<a href="" class="c-btn__01">
				<span>一覧を見る</span>
			</a>
		</div>
	</section>
	<section class="top-accses">
		<div class="inner">
			<div class="accses-block">
				<h2 class="c-ttl__02">
					<span class="c-ft--en">ACCESS</span>
					<span class="c-ft--jp">アクセス</span>
				</h2>
				<div class="accses-list">
					<div class="accses-list__item">
						<div class="accses-list__map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3882.9449851865893!2d139.370328!3d35.579822!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x6018fd60cc93ba09%3A0xa0a26fc217deea56!2z5rOV5b6L5LqL5YuZ5omA77yz!5e1!3m2!1sja!2s!4v1735187920785!5m2!1sja!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="accses-list__ct c-txt__basic-small">
							<div class="accses-list__ct-heading">
								<h3 class="accses-list__ct-ttl c-ft--jp">
									法律事務所S（本店）
								</h3>
								<p>
									〒252-0231　神奈川県相模原市中央区相模原2丁目1-5 サトウビル5階
								</p>
							</div>
							<p>
								JR横浜線 「相模原」駅より 徒歩3分、電車でのアクセスが便利です。相模原市を中心に神奈川全域よりご訪問いただいております。
							</p>
							<a href="" class="c-btn__01 c-btn__01--solid">
								<span>アクセスを見る</span>
							</a>
						</div>
					</div>
					<div class="accses-list__item">
						<div class="accses-list__map">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3889.351388736133!2d139.64058278815892!3d35.447469972307346!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185cfc79e71b1f%3A0x9cec5b8b40e91558!2s904%2C%201%20Yamashitach%C5%8D%2C%20Naka%20Ward%2C%20Yokohama%2C%20Kanagawa%20231-0023%2C%20Japon!5e1!3m2!1sfr!2s!4v1735196368502!5m2!1sfr!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
						</div>
						<div class="accses-list__ct c-txt__basic-small">
							<div class="accses-list__ct-heading">
								<h3 class="accses-list__ct-ttl c-ft--jp">
									法律事務所S（横浜オフィス）
								</h3>
								<p>
									〒231-0023　神奈川県横浜市中区山下町1 シルクセンタービル904
								</p>
							</div>
							<p>
								みなとみらい線「日本大通り」駅より徒歩3分、電車でのアクセスが便利です。横浜市近辺の方はぜひご相談ください。
							</p>
							<a href="https://yokohama.scs-lo.com/" target="_blank" class="c-btn__01 c-btn__01--solid">
								<span>横浜オフィスサイトを見る</span>
							</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
</main>

