<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="interview-mv">
		<%- include('common/_breadcrumb'); %>
		<div class="interview-mv__label">
			<span class="txt-jp">
				先輩弁護士の声<br>
				<span class="c-ft--en">Interview</span>
			</span>
			<span class="txt-en">01</span>
		</div>
		<p class="interview-mv__txt-vertical">自分らしい豊かな人生を実現する<br>ワークライフデザインが描ける場所</p>
		<div class="interview-mv__info">
			<span class="interview-mv__info-year">2020年入所</span>
			<p class="interview-mv__info-name">
				<span class="name-jp">弁護士<span>谷 樹人</span></span>
				<span class="name-en">TATSURU TANI</span>
			</p>
		</div>
		<div class="interview-mv__img">
			<img src="<%= RELATIVE_PATH %>img/interview/img-mv.jpg" alt="自分らしい豊かな人生を実現するワークライフデザインが描ける場所" class="pc-sm">
			<img src="<%= RELATIVE_PATH %>img/interview/img-mv-sp.jpg" alt="自分らしい豊かな人生を実現するワークライフデザインが描ける場所" class="sp-sm">
		</div>
	</section>
	<section class="interview-page">
		<div class="inner">
			<div class="interview-block">
				<div class="c-txt__basic interview-block__ct">
					<dl>
						<dt>法律事務所Sに入所するまでのキャリアを教えてください。</dt>
						<dd>司法試験合格後、都内の大手法律事務所でキャリアをスタートしました。企業法務から民事事件、刑事事件まで幅広い事件を担当することができやりがいもありましたが、書類仕事に忙殺され、一つひとつの案件にじっくりと向き合う時間が取れず、悩むことが多かったのも事実です。</dd>
					</dl>
					<dl>
						<dt>なぜ法律事務所Sで働こうと思ったのですか？</dt>
						<dd>幅広い分野の事件を手がけたかったので、特定の分野に絞らない事務所を探していました。父が弁護士で様々な相談を受ける姿を見て育ち、困っている人を助けたいという思いが強かったからです。実際に事務所で説明を聞いた時に感じた雰囲気の良さと、親しみやすい先生方に魅力を感じ、ここで働きたいと思いました。</dd>
					</dl>
					<dl>
						<dt>入所してみて感じたことは？</dt>
						<dd>最初に驚いたのは、全てのリーガルスタッフがプロとしての意識がとても高いことです。質問や意見交換にチャットを活用し、成長への情熱とコミュニケーションの豊かさを感じます。業務分野では企業法務と個人法務のバランスが良く、合理的な法分野と感情的な問題の両方に携わることができ、非常に充実しています。</dd>
					</dl>
					<dl>
						<dt>現在の仕事の内容は？</dt>
						<dd>民事事件を幅広く担当しています。入社後半年は、先輩弁護士の案件を手伝いながら仕事の流れを学びました。現在は、自分が受任する案件が全体の約8割を占めています。</dd>
					</dl>
				</div>
				<div class="interview-block__img">
					<img src="<%= RELATIVE_PATH %>img/interview/img-01.jpg" alt="">
				</div>
			</div>
			<div class="interview-block interview-block--reserve">
				<div class="c-txt__basic interview-block__ct">
					<dl>
						<dt>弁護士の仕事で難しいと感じる部分は？</dt>
						<dd>似たような事件でも同じものはなく、常に新しい考えが必要です。依頼者の要望を聞き、法律的にできることとできないことを判断し、最善の解決策を示すのが難しい部分です。</dd>
					</dl>
					<dl>
						<dt>やりがいを感じる瞬間は？</dt>
						<dd>「先生にお願いしてよかった」と依頼者から言われる時や、「負担が軽くなった」と言われると嬉しいです。弁護士として、依頼者が気軽に相談できる存在でありたいと思っています。</dd>
					</dl>
					<dl>
						<dt>印象的な出来事は？</dt>
						<dd>初期の頃、解雇事件の解決金について依頼者が悩んだ結果、望む水準に達しない金額を受け入れる決断をされたことがありました。もっと背中を押せたらと思う反面、自分の意見をしっかり伝えるために、知識と経験を磨く必要があると感じた出来事です。</dd>
					</dl>
					<dl>
						<dt>法律事務所Sはどんな職場ですか？</dt>
						<dd>先輩弁護士との距離が近く、仕事がしやすい環境です。相談すると丁寧に教えてくれ、知らないことを一緒に考えてくれる心強さがあります。また、裁量が大きく、自分の判断や意見を尊重してくれます。自分を成長させ、最高のパフォーマンスを発揮できる職場です。</dd>
					</dl>
					<dl>
						<dt>これから実現したいことは？</dt>
						<dd>多様な分野で受任や事件処理ができる、対応力の高い弁護士であるために、成長の努力をやめない弁護士でありたいと思います。<br>
							また、これからは自分の経験を活かし、若手弁護士の成長をサポートすることが私の新たな挑戦です。</dd>
					</dl>
				</div>
				<div class="interview-block__img">
					<img src="<%= RELATIVE_PATH %>img/interview/img-02.jpg" alt="">
				</div>
			</div>
			<div class="interview-msg">
				<div class="interview-msg__img">
					<img src="<%= RELATIVE_PATH %>img/interview/img-03.png" alt="MESSAGE">
				</div>
				<h2 class="interview-msg__ttl">MESSAGE</h2>
				<p class="c-txt__basic interview-msg__desc">
					法律事務所Sでは、幅広い分野の事件を取り扱うため、学ぶことが多く、自分の意識次第で大きく成長できる環境があります。<br>
					様々なことにチャレンジしたい方、ぜひご応募ください！
				</p>
			</div>
			<a href="<%= RELATIVE_PATH %>recruit/#interview" class="c-btn__01 scroll-page"><span>他の先輩弁護士の声を見る</span></a>
		</div>
	</section>
</main>
