<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="mv-page">
		<%- include('common/_breadcrumb'); %>
		<div class="mv-page__wp">
			<div class="mv-page__ct">
				<h1 class="mv-page__ttl">
					<span class="c-ft--en">lawyers</span>
					<span class="c-ft--jp">弁護士紹介</span>
				</h1>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/lawyers/img-mv.jpg" alt="lawyers">
			</div>
		</div>
	</section>
	<div class="intro-page">
		<h2 class="intro-page__ttl">
			多様な経験と知識を集積した「specialists」による<br>
			貴社のための問題発見解決チーム」
		</h2>
		<p>
			弊所の主な取扱業務をご紹介いたします。<br>
			企業法務から民事トラブルまで、専門の弁護士が最善の解決方法をご提案します。<br>
			お一人で悩まず、まずは一度、弊所へご相談ください。
		</p>
	</div>
	<section class="sec-lawyers">
		<div class="inner">
			<h3 class="c-ttl__03 c-fc--red">
				<span>
					<span class="c-ft--en">SAGAMIHARA</span>
					<span class="c-ft--jp">相模原本店</span>
				</span>
			</h3>
			<ul class="attorney-list">
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-01.jpg" alt="藤田 寛之">
						</div>
						<div class="attorney-list__ct">
							<p>シニアパートナー</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">藤田 寛之</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-02.jpg" alt="宇田川 隼">
						</div>
						<div class="attorney-list__ct">
							<p>シニアパートナー</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">宇田川 隼</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-03.jpg" alt="瀬野 陽仁">
						</div>
						<div class="attorney-list__ct">
							<p>パートナー</p>
							<p>
								<span>弁護士/税理士</span>
								<span class="attorney-list__ct-name">瀬野 陽仁</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-04.jpg" alt="末広 多親子">
						</div>
						<div class="attorney-list__ct">
							<p>シニアアソシエイト</p>
							<p>
								<span>弁護士・中小企業診断士</span>
								<span class="attorney-list__ct-name">末広 多親子</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-05.jpg" alt="谷 樹人">
						</div>
						<div class="attorney-list__ct">
							<p>シニアアソシエイト</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">谷 樹人</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-06.jpg" alt="長南 悠">
						</div>
						<div class="attorney-list__ct">
							<p></p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">長南 悠</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-07.jpg" alt="𦚰澤 奏江">
						</div>
						<div class="attorney-list__ct">
							<p></p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">𦚰澤 奏江</span>
							</p>
						</div>
					</a>
				</li>
			</ul>
			<h3 class="c-ttl__03 c-fc--red">
				<span>
					<span class="c-ft--en">YOKOHAMA</span>
					<span class="c-ft--jp">横浜オフィス</span>
				</span>
			</h3>
			<ul class="attorney-list">
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-08.jpg" alt="𦚰澤 奏江">
						</div>
						<div class="attorney-list__ct">
							<p>パートナー</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">古林 能敬</span>
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
</main>