<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="mv-page">
		<%- include('common/_breadcrumb'); %>
		<div class="mv-page__wp">
			<div class="mv-page__ct">
				<h1 class="mv-page__ttl">
					<span class="c-ft--en">lawyers</span>
					<span class="c-ft--jp">弁護士紹介</span>
				</h1>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/lawyers/img-mv.jpg" alt="lawyers">
			</div>
		</div>
	</section>
	<div class="intro-page">
		<h2 class="intro-page__ttl">
			多様な経験と知識を集積した「specialists」による<br>
			貴社のための問題発見解決チーム」
		</h2>
		<p>
			弊所の主な取扱業務をご紹介いたします。<br>
			企業法務から民事トラブルまで、専門の弁護士が最善の解決方法をご提案します。<br>
			お一人で悩まず、まずは一度、弊所へご相談ください。
		</p>
	</div>
	<section class="sec-lawyers">
		<div class="inner">
			<h3 class="c-ttl__03 c-fc--red">
				<span>
					<span class="c-ft--en">SAGAMIHARA</span>
					<span class="c-ft--jp">相模原本店</span>
				</span>
			</h3>
			<ul class="attorney-list">
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-01.jpg" alt="藤田 寛之">
						</div>
						<div class="attorney-list__ct">
							<p>シニアパートナー</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">藤田 寛之</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-02.jpg" alt="宇田川 隼">
						</div>
						<div class="attorney-list__ct">
							<p>シニアパートナー</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">宇田川 隼</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-03.jpg" alt="瀬野 陽仁">
						</div>
						<div class="attorney-list__ct">
							<p>パートナー</p>
							<p>
								<span>弁護士/税理士</span>
								<span class="attorney-list__ct-name">瀬野 陽仁</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-04.jpg" alt="末広 多親子">
						</div>
						<div class="attorney-list__ct">
							<p>シニアアソシエイト</p>
							<p>
								<span>弁護士・中小企業診断士</span>
								<span class="attorney-list__ct-name">末広 多親子</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-05.jpg" alt="谷 樹人">
						</div>
						<div class="attorney-list__ct">
							<p>シニアアソシエイト</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">谷 樹人</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-06.jpg" alt="長南 悠">
						</div>
						<div class="attorney-list__ct">
							<p></p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">長南 悠</span>
							</p>
						</div>
					</a>
				</li>
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-07.jpg" alt="𦚰澤 奏江">
						</div>
						<div class="attorney-list__ct">
							<p></p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">𦚰澤 奏江</span>
							</p>
						</div>
					</a>
				</li>
			</ul>
			<h3 class="c-ttl__03 c-fc--red">
				<span>
					<span class="c-ft--en">YOKOHAMA</span>
					<span class="c-ft--jp">横浜オフィス</span>
				</span>
			</h3>
			<ul class="attorney-list">
				<li class="attorney-list__item">
					<a href="" class="attorney-list__box">
						<div class="attorney-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/attorney-img-08.jpg" alt="𦚰澤 奏江">
						</div>
						<div class="attorney-list__ct">
							<p>パートナー</p>
							<p>
								<span>弁護士</span>
								<span class="attorney-list__ct-name">古林 能敬</span>
							</p>
						</div>
					</a>
				</li>
			</ul>
			<div class="lawyers-note c-txt__basic">
				<h3 class="lawyers-note__ttl c-ft--jp">専門知識を有するリーガルスタッフが、弁護士と共にサポートいたします</h3>
				<p>
					下記資格をはじめ、高度な専門知識と経験を有するリーガルスタッフが親身にサポート。弁護士と共に事件ごとにチームを組み、クライアントの皆様を強力にバックアップする体制を整えています。
				</p>
				<div class="lawyers-note__item">
					<dl>
						<dt>日弁連事務職員検定試験合格者</dt>
						<dd>4名</dd>
					</dl>
					<dl>
						<dt>パラリーガル心理士</dt>
						<dd>1名</dd>
					</dl>
					<dl>
						<dt>犯罪被害者支援ボランティア養成講座（かながわコミュニティカレッジ）修了者</dt>
						<dd>1名</dd>
					</dl>
					<dl>
						<dt>行政書士試験合格者</dt>
						<dd>2名</dd>
					</dl>
					<dl>
						<dt>宅地建物取引主任者試験合格者</dt>
						<dd>1名</dd>
					</dl>
					<dl>
						<dt>管理業務主任者試験合格者</dt>
						<dd>1名</dd>
					</dl>
					<dl>
						<dt>金融渉外技能審査ファイナンシャルプランナー2級合格者</dt>
						<dd>1名</dd>
					</dl>
				</div>

				<h3 class="lawyers-note__ttl c-ft--jp">専門知識を有するリーガルスタッフが、弁護士と共にサポートいたします</h3>
				<p>
					案件により、関連する専門家の力が必要になるケースがございます。弊所は、司法書士・税理士・公認会計士・社会保険労務士・土地家屋調査士・不動産鑑定士・行政書士等の各士業と不動産会社、自動車会社、廃棄物処理業者等の各企業と協力体制を構築し、多面的な角度から事件の解決を図っています。
				</p>
			</div>
		</div>
	</section>
</main>