<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="mv-page">
		<%- include('common/_breadcrumb'); %>
		<div class="mv-page__wp">
			<div class="mv-page__ct">
				<h1 class="mv-page__ttl">
					<span class="c-ft--en">OFFICE</span>
					<span class="c-ft--jp">事務所案内</span>
				</h1>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/office/img-mv.jpg" alt="OFFICE">
			</div>
		</div>
	</section>
	<div class="intro-page">
		<h2 class="intro-page__ttl">
			相模原および横浜エリアを拠点に<br>
			地域の方々の企業活動、日々の暮らしを守ります
		</h2>
		<p>
			わたしたちは相模原および横浜に事務所を構え、地域の皆さまの企業活動や日々の暮らしを守るため、企業法務から民事トラブルまで、幅広いリーガルサービスを提供しております。<br>
			中小企業法務をはじめとする様々な分野に精通した弁護士とリーガルスタッフがチーム一丸となり、質の高いリーガルサービスを提供し、困難な課題や事件を解決へと導きます。<br>
			地域の企業や市民の皆さまが安心して相談できるパートナーとして、全力でサポートいたします。
		</p>
	</div>
	<section class="sec-office">
		<div class="inner">
			<h2 class="c-ttl__06">
				<span class="c-ft--jp c-fc--red">理念</span>
				<span class="c-ft--en">Three Well-Being</span>
			</h2>
			<div class="office-heading c-txt__basic">
				<p>
					私たちは、Three Well-Being を目指し活動しています。
				</p>
				<img src="<%= RELATIVE_PATH %>img/office/office-heading.png" alt="Three Well-Being">
			</div>
			<ul class="well-being c-txt__basic-small">
				<li class="well-being__item">
					<h3 class="well-being__ttl">
						<span class="c-ft--en c-fc--red">Client’s</span>
						<small>Well-Being</small>
					</h3>
					<p>
						私たちは、困難な課題・事件の解決を通じて、クライアントが一人では辿り着くことができないanother future（もう一つの未来）を共に創造します。
					</p>
				</li>
				<li class="well-being__item">
					<h3 class="well-being__ttl">
						<span class="c-ft--en c-fc--red">Community</span>
						<small>Well-Being</small>
					</h3>
					<p>
						私たちは、事件解決を積み重ねて地域社会のコンプライアンスを高め、豊かで笑顔に満ちた持続可能な社会の実現を目指します。
					</p>
				</li>
				<li class="well-being__item">
					<h3 class="well-being__ttl">
						<span class="c-ft--en c-fc--red">Crew’s</span>
						<small>Well-Being</small>
					</h3>
					<p>
						私たちは、クルーが高い解決力を身につけ、法律事務所Sと出会わなければ辿り着くことができないanother futureを実現する人生を共に育みます。その高い解決力をもって更なる困難な課題・事件解決を実現します。
					</p>
				</li>
			</ul>
			<div class="office-heading">
				<small>※Well-Being＝健康・安心という意味合いを含む「幸福」「満たされた状態」。​</small>
			</div>
		</div>
		<div class="office-block">
			<div class="office-block__banner">
				<img src="<%= RELATIVE_PATH %>img/office/office-banner-01.jpg" alt="わたしたちの VISION と MISSIONそして実現するための、成長戦略とクレドについて">
			</div>
			<div class="inner">
				<div class="office-block__ct c-txt__basic-small">
					<h2 class="c-ttl__04">
						わたしたちの VISION と MISSION<br>
						そして実現するための、成長戦略とクレドについて
					</h2>
					<div class="office-block__ct-mission">
						<dl>
							<dt>
								VISION
							</dt>
							<dd>
								<span class="office-block__ct-ttl">法と解決力が人の可能性を増幅させる社会</span>
							</dd>
						</dl>
						<dl>
							<dt>
								MISSION
							</dt>
							<dd>
								<span class="office-block__ct-ttl">Create Another future　～強く、速く、そして共に～​</span>
								<p>
									私たちは、選ばれる解決力であなたがまだ見ぬ「もう一つのミライ」を創造します<br class="pc">そのために、クレド（4S）に磨きをかけ、常に強く、速く、そしてあなたに寄り添い続けます
								</p>
							</dd>
						</dl>
						<dl>
							<dt>
								成長戦略
							</dt>
							<dd>
						<span class="office-block__ct-ttl-small">
							MISSIONを実現し、「選ばれる解決力」を磨き続るために
						</span>
								<ul class="office-block__ct-note">
									<li>
										<span class="office-block__ct-note-ttl">事件解決の圧倒的な蓄積</span>
										<p>
											創業以来向き合ってきた数千の案件は、クライアントのかけがえのない未来に繋がり、そして私たちを強くしてくれました。その実績は法律顧問185社以上、中小企業の相談実績2000件以上にのぼり（2023年1月1日現在）、また常に500の案件と向き合っており、この解決の蓄積が今後もさらに私たちを強くします。
										</p>
									</li>
									<li>
										<span class="office-block__ct-note-ttl">One Strength を有する人材の創出</span>
										<p>
											事務所には弁護士資格のみならず、税理士、中小企業診断士、行政書士、宅地建物取引士、FP、各種パラリーガル資格などを保有する人材が揃い、多様な法的課題への対応が可能です。また、法的能力に限らない所員の能力開発推進制度を整備し、あらゆる角度から解決力が高い人材を開発します。
										</p>
									</li>
									<li>
										<span class="office-block__ct-note-ttl">Technology ＆ Innovation の最大限の活用</span>
										<p>
											私たちは、電子契約、文書管理、契約書レビュー、検索サービスなど様々な分野でアプリやソフト、AIの導入を積極的に推進し、業務効率と生産性を高めます。
										</p>
									</li>
								</ul>
								<iframe width="560" height="315" src="https://www.youtube.com/embed/ejgiGNhRjFA?si=QMd-qIsTw57qkzhD" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
							</dd>
						</dl>
						<dl>
							<dt>
								クレド（行動規範）
							</dt>
							<dd>
						<span class="office-block__ct-ttl-small">
							MISSIONを実現するために、すべてのスタッフが心がけ、行動します
						</span>
								<ul class="office-block__ct-rule">
									<li class="office-block__ct-rule-item">
										<span class="office-block__ct-rule-ttl">Share</span>
										<p>
											私たちは、クライアントの皆様の想いを共有し、共に未来へ向けて歩みます。
										</p>
									</li>
									<li class="office-block__ct-rule-item">
										<span class="office-block__ct-rule-ttl">Sincerity</span>
										<p>
											私たちは、常に真心をもって、誠実に業務に取り組みます。
										</p>
									</li>
									<li class="office-block__ct-rule-item">
										<span class="office-block__ct-rule-ttl">Speciality</span>
										<p>
											私たちは、日々研鑽を重ね、高度な専門性を武器とします。
										</p>
									</li>
									<li class="office-block__ct-rule-item">
										<span class="office-block__ct-rule-ttl">Speedy</span>
										<p>
											私たちは、時間を価値と捉え、紛争を迅速に解決します。
										</p>
									</li>
								</ul>
							</dd>
						</dl>
					</div>

				</div>
			</div>
		</div>
		<div class="office-strength">
			<div class="inner">
				<h2 class="office-strength__ttl c-ft--jp">
					法律事務所Sの3つの強み
				</h2>
				<ul class="office-strength__list c-txt__basic-small">
					<li class="office-strength__list-item">
						<h3 class="office-strength__list-ttl">
							寄り添った<br>
							コミュニケーション
						</h3>
						<p>
							クライアント一人ひとりの悩みや不安に耳を傾け、親身になって対応します。信頼関係を大切にし、安心して相談できる環境を提供します。
						</p>
					</li>
					<li class="office-strength__list-item">
						<h3 class="office-strength__list-ttl">
							解決にこだわる<br>
							姿勢
						</h3>
						<p>
							問題解決のために最善の方法を追求します。クライアントの利益を最大限に守るため、粘り強く対応し、最後まで諦めません。
						</p>
					</li>
					<li class="office-strength__list-item">
						<h3 class="office-strength__list-ttl">
							最新テクノロジーの<br>
							活用
						</h3>
						<p>
							AIを活用した契約書チェックなど、最新のテクノロジーを導入。迅速かつ正確な法務サービスを提供し、クライアントの安心を支えます。
						</p>
					</li>
				</ul>
			</div>
		</div>
		<div class="office-greetings">
			<div class="inner">
				<div class="office-greetings__heading ">
					<div class="office-greetings__heading-ct c-txt__basic-small">
						<h2 class="office-greetings__heading-ct-ttl">
							<small class="c-fc--red">事務所ロゴマーク</small>
							<span class="c-ft--jp">
								依頼者の皆様と手を取り合い、<br>
								問題解決に向かう姿、そして希望の光を表現
							</span>
						</h2>
						<p>
							私たちは、依頼者の皆様と手を取り合い、協力して問題解決に取り組みます。<br>
							このロゴマークは、私たちと依頼者の皆様が問題解決に向けて手と手を取り合う様をモチーフとした上で、私たちが鋭く問題に切り込み解決する様を、「希望の光」を意味する白い切り込みで表現したものです。<br>
							そして、ロゴからは、弊所の頭文字「S」が浮かび上がります。
						</p>
					</div>
					<div class="office-greetings__heading-img">
						<img src="<%= RELATIVE_PATH %>img/office/item-02.png" alt="依頼者の皆様と手を取り合い、問題解決に向かう姿、そして希望の光を表現">
					</div>
				</div>
				<h2 class="c-ttl__04">
					<span class="c-ft--en c-fc--red">GREETING</span>
					<span class="c-ft--jp">代表よりごあいさつ</span>
				</h2>
				<div class="office-greetings">
					<div class="office-greetings__img">
						<img src="<%= RELATIVE_PATH %>img/office/office-img-01.png" alt="代表よりごあいさつ" class="pc">
						<img src="<%= RELATIVE_PATH %>img/office/office-img-01-sp.png" alt="代表よりごあいさつ" class="sp">
					</div>
					<div class="office-greetings__ct c-txt__basic">
						<p>
							法律事務所Sは、2009年10月、相模原地域出身の弁護士で設立されました。人口70万人を擁する 相模原をはじめとして、座間、町田、八王子、立川、多摩、海老名、厚木、大和といった近隣地域では、多くの人々が日常生活を送り、多くの企業が経済活動を営んでいるため、必然的に、多数の紛争が生じます。
						</p>
						<p>
							しかし従来、これらの地域は東京などの大都市に比べ、 弁護士が少ない地域でした。その結果、弁護士に対する敷居が高くなり、弁護士介入が望ましい紛争に弁護士が介入しない、という事態が生じる事が、しばしばありました。
						</p>
						<p>
							そこで我々は、地域の企業や市民の皆様に貢献し、愛される法律事務所となるため、弊所を設立しました。<br>
							私たちは今後も、会社や企業の紛争（債権回収、請負代金請求、解雇、残業代請求、契約書作成、顧問弁護士等）から、個人間の紛争（相続、遺言、遺産分割、交通事故、建物明渡し、不動産売買、不動産賃貸借トラブル、成年後見、任意後見、財産管理、自己破産、個人再生（民事再生）、債務整理、刑事弁護、被害者参加）まで、幅広い分野で依頼者の皆様に迅速かつ的確なリーガルサービスを提供して参ります。
						</p>
						<p>
							どうぞよろしくお願いいたします。
						</p>
						<span class="office-greetings__ct-name c-ft--jp">
							<img src="<%= RELATIVE_PATH %>img/office/name.svg" alt="藤田 寛之　　宇田川 隼">
						</span>
					</div>
				</div>
			</div>
		</div>
		<div class="office-block office-block--view">
			<div class="office-block__banner">
				<img src="<%= RELATIVE_PATH %>img/office/office-banner-02.jpg" alt="法律事務所S（本店）のご案内">
			</div>
			<div class="inner">
				<div class="office-block__ct c-txt__basic-small">
					<div class="office-block__ct-heading c-txt__basic">
						<h2 class="office-block__ct-heading-ttl c-ft--jp">法律事務所S（本店）<br class="sp">のご案内</h2>
						<p>
							弊所本店はJR相模原駅南口より徒歩3分、大通り沿いの便利な立地にございます。<br>
							事務所内には大小3つのミーティングルームがあり、ご相談者様に安心してお話ししていただけるよう、防音および視線を遮る工夫をしております。
						</p>
					</div>
					<ul class="office-block__ct-view">
						<li class="office-block__ct-view-item">
							<img src="<%= RELATIVE_PATH %>img/office/office-img-03.jpg" alt="事務所に入ってすぐの受付">
							<p>事務所に入ってすぐの受付</p>
						</li>
						<li class="office-block__ct-view-item">
							<img src="<%= RELATIVE_PATH %>img/office/office-img-04.jpg" alt="周囲を気にせずご相談いただけます">
							<p>周囲を気にせずご相談いただけます</p>
						</li>
						<li class="office-block__ct-view-item">
							<img src="<%= RELATIVE_PATH %>img/office/office-img-05.jpg" alt="大人数での相談も可能な環境をご用意">
							<p>大人数での相談も可能な環境をご用意</p>
						</li>
					</ul>
					<div class="office-block__ct-show">
						<h3 class="office-block__ct-show-ttl c-fc--red">本店バーチャルツアー</h3>
						<p>気になる事務所内部をお好きな角度でご覧いただけます</p>
						<div class="office-block__ct-showview">
							<img src="<%= RELATIVE_PATH %>img/office/view.png" alt="本店バーチャルツアー">
						</div>

					</div>

				</div>
			</div>
		</div>
		<div class="office-overview">
			<div class="inner">
				<div class="office-overview__block c-txt__basic-small">
					<div class="office-overview__show">
						<h3 class="c-ttl__03 c-fc--red">
							<span>事務所概要</span>
						</h3>
						<dl>
							<dt>
								法律事務所S（本店）
							</dt>
							<dd>
								<table>
									<tr>
										<td>住所</td>
										<td>〒252-0231　神奈川県相模原市中央区相模原2丁目1-5 サトウビル5階</td>
									</tr>
									<tr>
										<td>代表</td>
										<td>
											代表弁護士　藤田 寛之<br>
											代表弁護士　宇田川 隼
										</td>
									</tr>
									<tr>
										<td>電話番号</td>
										<td>042-704-6577</td>
									</tr>
									<tr>
										<td>FAX</td>
										<td>042-704-6578</td>
									</tr>
									<tr>
										<td>営業時間</td>
										<td>9:30～17:45</td>
									</tr>
									<tr>
										<td>定休日</td>
										<td>土・日曜、祝日</td>
									</tr>
									<tr>
										<td>設立</td>
										<td>2009年10月</td>
									</tr>

								</table>
							</dd>
						</dl>
						<dl>
							<dt>
								法律事務所S（横浜オフィス）
								<small>弁護士法人 SY従たる事務所</small>
							</dt>
							<dd>
								<table>
									<tr>
										<td>住所</td>
										<td>〒231-0023　神奈川県横浜市中区山下町1シルクセンタービル904</td>
									</tr>
									<tr>
										<td>代表</td>
										<td>横浜オフィスパートナー 弁護士　古林能敬</td>
									</tr>
									<tr>
										<td>電話番号</td>
										<td>045-263-6100</td>
									</tr>
									<tr>
										<td>FAX</td>
										<td>045-263-6167</td>
									</tr>
									<tr>
										<td>営業時間</td>
										<td>9:30～17:00</td>
									</tr>
									<tr>
										<td>定休日</td>
										<td>土・日曜、祝日</td>
									</tr>
									<tr>
										<td>設立</td>
										<td>2019年4月</td>
									</tr>
								</table>
							</dd>
						</dl>
					</div>
					<div class="office-overview__sub">
						<a href="" class="c-btn__01 c-btn__01--solid">
							<span>アクセスを見る</span>
						</a>
						<a href="" class="c-btn__01 c-btn__01--solid">
							<span>横浜オフィスサイトを見る</span>
						</a>
					</div>
				</div>

			</div>
		</div>
	</section>
</main>