<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="mv-page">
		<%- include('common/_breadcrumb'); %>
		<div class="mv-page__wp">
			<div class="mv-page__ct">
				<h1 class="mv-page__ttl">
					<span class="c-ft--en">PRACTICES</span>
					<span class="c-ft--jp">取扱業務</span>
				</h1>
			</div>
			<div class="mv-page__img">
				<img src="<%= RELATIVE_PATH %>img/practice/img-mv.jpg" alt="PRACTICES">
			</div>
		</div>
	</section>
	<div class="intro-page">
		<p>
			弊所の主な取扱業務をご紹介いたします。<br>
			企業法務から民事トラブルまで、専門の弁護士が最善の解決方法をご提案します。<br>
			お一人で悩まず、まずは一度、弊所へご相談ください。
		</p>
	</div>
	<section class="sec-practices">
		<div class="inner">
			<h3 class="c-ttl__03 c-fc--red">
				<span>法人のお客様</span>
			</h3>
			<ul class="practices-list">
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-01.png" alt="顧問弁護士">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								顧問弁護士
							</h4>
							<p>
								法務面から会社経営の不安を解消できるパートナーとなります
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-02.png" alt="債権回収">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								債権回収
							</h4>
							<p>
								未回収の債権を迅速かつ確実に回収し、企業の資金繰りを支援します
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-03.png" alt="M＆A・事業承継">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								M＆A・事業承継
							</h4>
							<p>
								企業の買収や事業承継をスムーズに進行させるための専門的なサポートを行います
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-04.png" alt="未払残業代請求">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								未払残業代請求
							</h4>
							<p>
								労働者からの未払残業代請求に対し、実態に則した適切な反論と証拠で支払を最小限に抑えます
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-05.png" alt="顧問弁護士">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								解雇事件
							</h4>
							<p>
								解雇に関するトラブルを法的に対応し、企業の権利を守ります
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-06.png" alt="契約書チェック">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								契約書チェック
							</h4>
							<p>
								徹底的な精査、適切なアドバイスにより、契約書のリスクを最小限に抑えます
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-07.png" alt="法人破産・民事再生">
							<div class="practices-list__img--note">
								<img src="<%= RELATIVE_PATH %>img/index/practices-note--01.png" alt="相談料 無料">
							</div>
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl">
								法人破産・民事再生
							</h4>
							<p>
								資金繰りが苦しい経営者の方々に寄り添い、企業の再建や清算を支援し、最適な解決策を提案します
							</p>
						</div>
					</a>
				</li>
			</ul>
			<h3 class="c-ttl__03 c-fc--navy">
				<span>法人のお客様</span>
			</h3>
			<ul class="practices-list">
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-08.png" alt="遺産・相続">
							<div class="practices-list__img--note">
								<img src="<%= RELATIVE_PATH %>img/index/practices-note--02.png" alt="遺産・相続">
							</div>
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								遺産・相続
							</h4>
							<p>
								遺産を残す方、遺産を受け取る方それぞれの立場に立った解決をサポートいたします
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-09.png" alt="建物明渡し事件">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								建物明渡し事件
							</h4>
							<p>
								土地建物オーナーを強力にバックアップ、迅速かつスムーズな明渡を支援します
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-10.png" alt="交通事故">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								交通事故
							</h4>
							<p>
								交通事故の被害者が迅速に適切な賠償を受けられるようお手伝いします
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-11.png" alt="離婚相談">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								離婚相談
							</h4>
							<p>
								離婚に伴う法的問題を解決し、財産分与や子供の養育についてサポートします
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-12.png" alt="借金問題">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								借金問題
							</h4>
							<p>
								借金の問題を解消して生活再建を支援します
							</p>
						</div>
					</a>
				</li>
				<li class="practices-list__item">
					<a href="" class="practices-list__box practices-list__box--navy">
						<div class="practices-list__img">
							<img src="<%= RELATIVE_PATH %>img/index/practices-item-13.png" alt="高齢者サポート">
						</div>
						<div class="practices-list__ct c-txt__basic-small">
							<h4 class="practices-list__ct-ttl c-fc--navy">
								高齢者サポート
							</h4>
							<p>
								高齢者の不安を解消するため、遺言作成・財産の信託・後見制度を活用します
							</p>
						</div>
					</a>
				</li>
			</ul>
		</div>
	</section>
</main>