<main id="page-<%= pageData.template %>" class="wrapper">
	<section class="recruit-mv">
		<%- include('common/_breadcrumb'); %>
		<h1 class="recruit-mv__ttl">
			<span class="txt-sm"><span>RECRUITE</span></span>
			<span class="txt-lg">CREATE<br><span>ANOTHER</span><br>FUTURE</span>
		</h1>
		<p class="recruit-mv__txt-lead">法律家として、一個人として。<br>まだ見ぬ「もう一つのミライ」へ</p>
		<ul class="recruit-mv__img">
			<li class="recruit-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/recruit/img-mv-01.png" alt="">
			</li>
			<li class="recruit-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/recruit/img-mv-02.png" alt="">
			</li>
			<li class="recruit-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/recruit/img-mv-03.png" alt="">
			</li>
			<li class="recruit-mv__img-item">
				<img src="<%= RELATIVE_PATH %>img/recruit/img-mv-04.png" alt="">
			</li>
		</ul>
	</section>
	<section class="recruit-msg">
		<div class="inner">
			<p class="c-txt__deco">Message</p>
			<h2 class="c-ttl__05">
				<span>クライアントの未来に<br class="sp-sm">本気で向き合える人</span><br>
				<span>自分自身の未来を<br class="sp-sm">大切にできる人</span><br>
				そんな人を法律事務所Sは<br class="sp-sm">歓迎します
			</h2>
			<div class="c-txt__basic recruit-msg__desc">
				<p>弊所では、企業法務から民事事件、刑事事件まで幅広いリーガルサービスを提供しており、すべての業務はクライアントの未来を支える重要な役割を果たしています。一つひとつの業務に真摯に向き合い、クライアントと共に豊かな未来を創造する意欲を持った方を歓迎します。</p>
				<p>また業務だけでなく、自分自身の未来を描くことも尊重しており、弊所では独自のワークライフデザインを実現できる環境があります。柔軟な働き方やスキルアップの機会を提供し、夢や目標を全力でサポートします。</p>
				<p>仲間やクライアントとともに、まだ見ぬ「もう一つのミライ」を創造しませんか。</p>
			</div>
		</div>
	</section>
	<section class="recruit-philosophy">
		<p class="c-txt__deco c-txt__deco--wt">Philosophy</p>
		<div class="inner">
			<h2 class="c-ttl__05 c-ttl__05--wt">
				事務所に関わるすべての人の<br>Well-Beingを目指して
			</h2>
			<div class="c-txt__basic recruit-philosophy__desc">
				<p>
					私たちは事務所理念として「Three Well-Being」を掲げています。<br>
					クライアント、地域社会、そして事務所のクルー、弊所に関わる全ての人々とコミュニティが、健やかで満ち足りた状態でいられることを目指します。
				</p>
				<p>この理念の実現のために、弊所はクルーが法律家として高い解決力を身につけられるよう、人材開発に力を注いでおります。そして、一個人として充実した人生が送れるよう働き方の多様性を認め、安定した労働環境の提供に努めております。</p>
			</div>
		</div>
	</section>
	<section class="recruit-culture">
		<div class="inner">
			<div class="recruit-culture__wrapper">
				<div class="recruit-culture__logo">
					<img src="<%= RELATIVE_PATH %>img/recruit/logo-culture.png" alt="">
				</div>
				<h2 class="c-ttl__05">ワークライフバランスを実現できる<br>環境がここにはあります</h2>
				<p class="c-txt__basic recruit-culture__desc">
					弁護士やリーガルスタッフとして高い専門性を身につける一方、家庭や趣味の時間を大切にし、自分らしい働き方ができるようワークライフバランス実現を目指しています。<br>
					仕事も自分も大切に。法律事務所Sならきっと、あなたらしい働き方を見つけることができると信じています。
				</p>
			</div>
			<h3 class="recruit-culture__ttlsub">法律事務所Sが大切にする、<br class="sp-sm">働き方の多様性</h3>
			<ul class="recruit-culture__list">
				<li class="recruit-culture__list-item">
					<h4 class="recruit-culture__list-ttl">Work</h4>
					<div class="recruit-culture__list-icon">
						<img src="<%= RELATIVE_PATH %>img/recruit/ico-work.png" alt="Work">
					</div>
					<p class="recruit-culture__list-catch">高い専門性を身につけ、<br class="pc-sm">それぞれの業務に専念できる環境</p>
					<p class="c-txt__basic">先輩や仲間に相談しながら、チームで案件に取り組めます。また、職務経験に応じてOJTを取り入れ、スキルアップを応援します。人材開発・キャリアアップ支援により、高い専門性が身につけられます。</p>
				</li>
				<li class="recruit-culture__list-item">
					<h4 class="recruit-culture__list-ttl">Life</h4>
					<div class="recruit-culture__list-icon">
						<img src="<%= RELATIVE_PATH %>img/recruit/ico-life.png" alt="Life">
					</div>
					<p class="recruit-culture__list-catch">ワークライフデザイン雇用制度を採用し、<br class="pc-sm">その人らしい働き方を推進</p>
					<p class="c-txt__basic">柔軟な勤務形態に対応し、多様な働き方を認め、家庭や趣味、リフレッシュのための時間を尊重し合います。福利厚生の充実、安定経営により、長く勤められる環境を提供します</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="recruit-data">
		<p class="c-txt__deco">DATA</p>
		<div class="inner">
			<h2 class="c-ttl__05">データで見る法律事務所S</h2>
			<p class="c-txt__basic recruit-data__intro">弊所の特徴をデータでご紹介します。</p>
			<ul class="recruit-data__list">
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">平均年齢</p>
					<div class="recruit-data__list-number"><span>35.0</span>歳</div>
					<p class="c-txt__basic-small">若手から中堅の弁護士を中心に、年代や役職を超えて活発な交流が持てる職場です。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">平均勤続年数</p>
					<div class="recruit-data__list-number"><span>7.5</span>歳</div>
					<p class="c-txt__basic-small">創業に携わったクルーから新卒入所のクルーまで、定着率の高さが自慢です。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">女性割合</p>
					<div class="recruit-data__list-number"><span>25</span>%</div>
					<p class="c-txt__basic-small">男女ともに自身の能力やライフイベントに合わせた働き方を選択できます。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">中途入所率</p>
					<div class="recruit-data__list-number"><span>50</span>%</div>
					<p class="c-txt__basic-small">中途入所のクルーも多数活躍しています。 経験や能力に応じた業務をお任せします。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">ワーキング<br class="sp">マザー率</p>
					<div class="recruit-data__list-number"><span>60</span>%</div>
					<p class="c-txt__basic-small">多様な働き方を推進する職場のため、家庭や育児との両立が可能です。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">平均有給<br class="sp">取得日数</p>
					<div class="recruit-data__list-number"><span>9.5</span>日</div>
					<p class="c-txt__basic-small">有休は理由の如何に関わらず、個人の裁量で自由にとることが可能です。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">顧客のビジネスカテゴリ</p>
					<div class="recruit-data__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-chart.png" alt="顧客のビジネスカテゴリ" class="pc">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-chart-sp.png" alt="顧客のビジネスカテゴリ" class="sp">
					</div>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">勤務形態</p>
					<div class="recruit-data__list-number recruit-data__list-number--lg">固定時間制<br>裁量労働制</div>
					<p class="c-txt__basic-small">職種や個人の希望に合わせて働き方を選択できます。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">業務時間<br class="sp">（1日当り）</p>
					<div class="recruit-data__list-number">約<span>8.5</span>時間</div>
					<p class="c-txt__basic-small">繁忙期以外の残業はほとんどなく、定時出社・退社するクルーが大半です。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">顧問企業数</p>
					<div class="recruit-data__list-number"><span>185</span>社</div>
					<p class="c-txt__basic-small">多数の企業より信頼や紹介をいただき、相模原最大規模の顧問数を誇ります。</p>
				</li>
				<li class="recruit-data__list-item">
					<p class="recruit-data__list-ttl">取扱業務内訳</p>
					<div class="recruit-data__list-breakdown">
						<dl>
							<dt>企業法務</dt>
							<dd><span>50</span>％</dd>
						</dl>
						<dl>
							<dt>不動産</dt>
							<dd><span>20</span>％</dd>
						</dl>
						<dl>
							<dt>破産管財</dt>
							<dd><span>10</span>％</dd>
						</dl>
						<dl>
							<dt>遺産分割・相続</dt>
							<dd><span>7</span>％</dd>
						</dl>
						<dl>
							<dt>その他</dt>
							<dd><span>13</span>％</dd>
						</dl>
					</div>
					<p class="c-txt__basic-small">企業法務を中心に、幅広い案件に携わることができます。</p>
				</li>
			</ul>
		</div>
	</section>
	<section class="recruit-schedule">
		<p class="c-txt__deco">Time Schedule</p>
		<div class="inner">
			<div class="c-txt__basic-small recruit-schedule__heading">
				<h2 class="c-ttl__05">出勤日の流れ</h2>
				<p>弁護士 谷樹人の事務所出勤日の1日の流れをご紹介します。</p>
			</div>
			<ul class="c-txt__basic recruit-schedule__list">
				<li class="recruit-schedule__list-item">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">9:30　出社</h3>
						<p>通勤2時間程度かかるため、ワークライフバランス制度を利用し、出社時間を30分ずらしています。出社後、タスク整理、メールチェックを行います。</p>
					</div>
					<div class="recruit-schedule__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-schedule-01.jpg" alt="顧客のビジネスカテゴリ">
					</div>
				</li>

				<li class="recruit-schedule__list-item">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">10:00　定例会議</h3>
						<p>ご依頼いただいている事件の進行状況を担当メンバーで確認共有します。</p>
					</div>
					<div class="recruit-schedule__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-schedule-02.jpg" alt="顧客のビジネスカテゴリ">
					</div>
				</li>
				<li class="recruit-schedule__list-item">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">11:00　電話対応</h3>
						<p>クライアントへの進捗状況の報告、関係先からの架電に対する折り返しなど電話対応を行います。</p>
					</div>
					<div class="recruit-schedule__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-schedule-03.jpg" alt="顧客のビジネスカテゴリ">
					</div>
				</li>
				<li class="recruit-schedule__list-item recruit-schedule__list-item--noimg">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">12:00　昼食</h3>
						<p>近くのお店で購入したものを他の弁護士と事務所内で食べたり、外食したりします。</p>
					</div>
				</li>
				<li class="recruit-schedule__list-item">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">13:00　法律相談の実施</h3>
						<p>離婚・相続・交通事故等、様々なご相談があります。ひとつひとつ丁寧にご相談者に寄り添う対応を心掛けています。</p>
					</div>
					<div class="recruit-schedule__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-schedule-04.jpg" alt="顧客のビジネスカテゴリ">
					</div>
				</li>
				<li class="recruit-schedule__list-item">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">14:00　裁判期日への出頭</h3>
						<p>WEB会議により事務所や自宅から期日に出頭することも増えていますが、調停や債権者集会など事件の内容によっては裁判所に出向くこともまだまだあります。</p>
					</div>
					<div class="recruit-schedule__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-schedule-05.jpg" alt="顧客のビジネスカテゴリ">
					</div>
				</li>
				<li class="recruit-schedule__list-item recruit-schedule__list-item--noimg">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">15:00　起案</h3>
						<p>裁判期日後の報告書、準備書面等の裁判書類、交渉書面など事件業務に関する様々な書面の起案を行います。読み手を意識した分かりやすい書面の作成を心掛けています。</p>
					</div>
				</li>
				<li class="recruit-schedule__list-item">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">17:00　委員会会務</h3>
						<p>神奈川県弁護士会本部、相模原支部それぞれの委員会に所属しており、毎月開催される委員会に参加します。今ではWEB会議で委員会を開催することがほとんどですので、事務所や自宅から参加することが可能です。</p>
					</div>
					<div class="recruit-schedule__list-img">
						<img src="<%= RELATIVE_PATH %>img/recruit/img-schedule-06.jpg" alt="顧客のビジネスカテゴリ">
					</div>
				</li>
				<li class="recruit-schedule__list-item recruit-schedule__list-item--noimg">
					<div class="recruit-schedule__list-ct">
						<h3 class="recruit-schedule__list-ttl">18:30　退社</h3>
					</div>
				</li>
			</ul>
		</div>
	</section>
	<div class="recruit-movie">
		<div class="inner">
			<video class="wp-video-shortcode" id="video-723-1" width="1920" height="1080" preload="metadata" controls="controls"><source type="video/mp4" src="https://www.scs-lo.com/wp-content/uploads/2023/12/low-office-S.mp4?_=1" /><a href="https://www.scs-lo.com/wp-content/uploads/2023/12/low-office-S.mp4">https://www.scs-lo.com/wp-content/uploads/2023/12/low-office-S.mp4</a></video>
		</div>
	</div>
	<section class="recruit-interview" id="interview">
		<div class="inner">
			<h2 class="c-ttl__05 c-ttl__05--recruit recruit-interview__ttl">
				<span class="txt-sm">Interview</span>
				<span class="txt-lg">先輩弁護士の声</span>
			</h2>
			<p class="c-txt__basic recruit-interview__desc">
				弁護士としての理想やプライベートとの両立など、様々な理由で法律事務所Sを選んだ弁護士たち。彼らはこの事務所と仲間に出会えたからこそたどり着いた「もう一つのミライ」を歩いています。そんな先輩弁護士たちに聞いた、入所のきっかけや実際に働いてみて感じたことをインタビュー形式でご紹介します。
			</p>
			<ul class="recruit-interview__list">
				<li class="recruit-interview__list-item">
					<a href="#">
						<div class="recruit-interview__list-img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-interview-01.jpg" alt="TATSURU TANI">
							<span class="recruit-interview__list-caption">TATSURU TANI</span>
						</div>
						<h3 class="recruit-interview__list-ttl">自分らしい豊かな人生を実現するワークライフデザインが描ける場所</h3>
						<p class="recruit-interview__list-time">2020年入所</p>
						<p class="recruit-interview__list-name">弁護士<span>谷 樹人</span></p>
					</a>
				</li>
				<li class="recruit-interview__list-item">
					<a href="#">
						<div class="recruit-interview__list-img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-interview-02.jpg" alt="YU CHONAN">
							<span class="recruit-interview__list-caption">YU CHONAN</span>
						</div>
						<h3 class="recruit-interview__list-ttl">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						<p class="recruit-interview__list-time">2023年入所</p>
						<p class="recruit-interview__list-name">弁護士<span>長南 悠</span></p>
					</a>
				</li>
				<li class="recruit-interview__list-item">
					<a href="#">
						<div class="recruit-interview__list-img">
							<img src="<%= RELATIVE_PATH %>img/recruit/img-interview-03.jpg" alt="KANAE WAKIZAWA">
							<span class="recruit-interview__list-caption">KANAE WAKIZAWA</span>
						</div>
						<h3 class="recruit-interview__list-ttl">XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</h3>
						<p class="recruit-interview__list-time">2024年入所</p>
						<p class="recruit-interview__list-name">弁護士<span>𦚰澤 奏江</span></p>
					</a>
				</li>
			</ul>
		</div>
	</section>
	<section class="recruit-job">
		<div class="inner">
			<h2 class="c-ttl__05 c-ttl__05--recruit recruit-job__ttl">
				<span class="txt-sm">Job Description</span>
				<span class="txt-lg">募集要項</span>
			</h2>
			<p class="recruit-job__label"><span>募集職種：弁護士</span></p>
			<div class="recruit-job__content">
				<dl>
					<dt>求める人物像</dt>
					<dd>クライアントの思いに共感し、ご相談やご依頼に真摯に向き合う方</dd>
				</dl>
				<dl>
					<dt>応募条件</dt>
					<dd>77期司法修習生・経験弁護士</dd>
				</dl>
				<dl>
					<dt>採用予定人数（増員）</dt>
					<dd>2名</dd>
				</dl>
				<dl>
					<dt>勤務形態</dt>
					<dd>勤務弁護士</dd>
				</dl>
				<dl>
					<dt>取り扱い事件<span>※個人案件の受任可</span></dt>
					<dd>
						・企業法務<br>
						（契約書チェック、労働問題、債権回収、Ｍ＆Ａ、事業承継、知的財産権、監査役業務等）<br>
						・不動産<br>
						・破産管財<br>
						・後見・保佐・監督<br>
						・相続財産管理<br>
						・交通事故<br>
						・債務整理<br>
						・遺産分割などの相続<br>
						・離婚<br>
						・その他一般民事事件<br>
						・刑事（被害者支援）
					</dd>
				</dl>
				<dl>
					<dt>勤務地</dt>
					<dd>相模原本店（その他別拠点に異動の可能性あり）</dd>
				</dl>
				<dl>
					<dt>勤務時間</dt>
					<dd>
						9:00-18:00（休憩1時間）<br>
						<span>※勤務時間は個別に相談可、テレワーク可</span>
					</dd>
				</dl>
				<dl>
					<dt>休日休暇</dt>
					<dd>
						完全週休2日制（土日祝日）／夏季休暇（5日間）／<br>
						年末年始休暇（7日間）／創立記念日（10月1日）／<br>
						年次有給休暇　初年度10日（入所6ヶ月経過後）／<br>
						特別休暇（慶弔休暇、出産・育児休暇、介護休暇等）
					</dd>
				</dl>
				<dl>
					<dt>給与</dt>
					<dd>
						77修習生	年俸600万円＋業績に応じた賞与50～200万円<br>
						経験弁護士	年俸は経験による＋業績に応じた賞与50～200万円
					</dd>
				</dl>
				<dl>
					<dt>昇給</dt>
					<dd>年1回（業績による）</dd>
				</dl>
				<dl>
					<dt>手当</dt>
					<dd>通勤交通費全額支給</dd>
				</dl>
				<dl>
					<dt>社会保険</dt>
					<dd>健康保険、厚生年金保険、雇用保険、労災保険</dd>
				</dl>
				<dl>
					<dt>その他</dt>
					<dd>弁護士会費（自己負担）</dd>
				</dl>
			</div>
			<dl class="c-txt__basic recruit-job__box">
				<dt>選考方法</dt>
				<dd>
					1.　書類選考<br>
					2.　面接2回<br>
					3.　内定
				</dd>
			</dl>
			<dl class="c-txt__basic recruit-job__box">
				<dt>必要書類</dt>
				<dd>
					履歴書（写真貼付）<br>
					職務経歴書（アルバイト・社会人経験のある方）<br>
					大学及び大学院の成績証明書<br>
					司法試験成績通知書<br>
					予備試験成績通知書
				</dd>
			</dl>
			<dl class="c-txt__basic recruit-job__box">
				<dt>採用お問い合わせ窓口<br>（書類送付先）</dt>
				<dd>
					〒252-0231<br>
					神奈川県相模原市中央区相模原2-1-5　サトウビル5階<br>
					法律事務所S　採用人事担当宛<br>
					（電話：<a href="tel:0427046577">042-704-6577</a>　Email：<a href="mailtol:jimu8@scs-lo.com">jimu8@scs-lo.com</a>）
					<span>※応募書類の返却はいたしませんので、ご了承ください。</span>
				</dd>
			</dl>
		</div>
	</section>
</main>